<div id="select-overview">
  <component-banner-img/>

  <p>
    The select pattern is a form control. It allows _selection_ of one or more
    items from a list of options. Like all form controls, the value (or values)
    make up the form data that is passed to the server.
  </p>
  <p>
    If you require similar behaviour, but without the need for form data, please
    consider the
    <a href="components/menu">
      menu
    </a>
    pattern instead. HTML already gives us a native select control that is
    100% accessible. However, it is difficult to style and it's options do not
    support inner HTML.
  </p>
  <p>
    <strong>Do not call a select a "dropdown"!</strong>
    The term "dropdown" is ambiguous and could be confused with a menu,
    combobox, listbox or any other kind of overlay that "drops down".
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>select</strong>
      : the pattern as a whole, comprised of the following sub parts
    </li>
    <li>
      <strong>label</strong>
      : the labelling element or text for the control
    </li>
    <li>
      <strong>flyout</strong>
      : contains the full view of options
    </li>
    <li>
      <strong>options</strong>
      : each option available for selection
    </li>
    <li>
      <strong>multiple</strong>
      : boolean, indicating if multi-select is allowed
    </li>
  </ul>
</div>
