<div id="tourtip-overview">
    <h1>Tourtip Component</h1>
    
    <p>
        A tourtip points out a new feature or section of the page. A tourtip is open by default and must be explcitly closed using its close button. Once closed, it cannot be reopened.
    </p>
    <p>
        Toggle the
        <span class="highlight">
            tourtip--expanded
        </span>
         modifier to expand or collapse the tourtip.
    </p>
</div>
