<div id="combobox-overview">
    <h1>Combobox Component</h1>
    
    <p>
        A combobox is a combination of textbox and listbox. The textbox value can be constructed via manual text entry as normal,${" "}
        <em>or</em>
         via selection from the listbox options,
        <em>or</em>
         a combination of both.
    </p>
    <p>
        <strong>TIP</strong>
         : A combobox can be further enhanced with
        <a href="https://opensource.ebay.com/mindpatterns/input/combobox/index.html">
            autocomplete behaviour
        </a>
         .
    </p>
</div>
