<div id="combobox-overview">
    <h1>Combobox Component</h1>
    <p class="component-subtitle">Textbox with quick-entry ability via a list of values.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/combobox-400.png" aria-hidden="true" />
    
    <p>
        A combobox is a combination of textbox and listbox. The textbox value can be constructed via manual text entry as normal,${" "}
        <em>or</em>
         via selection from the listbox options,
        <em>or</em>
         a combination of both.
    </p>
    <p>
        <strong>TIP</strong>
         : A combobox can be further enhanced with
        <a href="https://opensource.ebay.com/mindpatterns/input/combobox/index.html">
            autocomplete behaviour
        </a>
         .
    </p>
    
    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>combobox</strong>: the pattern as a whole, comprised of the following distinct parts
        </li>
        <li>
            <strong>textbox</strong>: stores and displays the form value
        </li>
        <li>
            <strong>popover</strong>: the overlay that contains a listbox
        </li>
        <li>
            <strong>listbox</strong>: listbox containing options
        </li>
        <li>
            <strong>option/suggestion</strong>: a suggestion inside of the listbox and/or directly after the textbox value
        </li>
        <li>
            <strong>autocomplete</strong>: the autocomplete type (optional)
        </li>
        <li>
            <strong>filter</strong>: the filtering criteria (optional)
        </li>
    </ul>
</div>
