<div id="alert-dialog-component">
  <component-banner-img/>

  <p>
    The alert dialog pattern is a type of
    <a href="components/lightbox-dialog">
      lightbox dialog
    </a>
    that displays a critical message. The alert must be explicitly
    acknowledged in order to dismiss it and proceed.
  </p>

  <p>
    The behaviour is similar to the JavaScript
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/alert">
      window.alert()
    </a>
    method.
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>Acknowledgement Button</strong>
      : The button that must be clicked to acknowledge and dismiss the
      alert dialog.
    </li>
    <li>
      <strong>Mask</strong>
      : The semi-opaque layer that sits between the dialog and the main
      page.
    </li>
  </ul>
</div>
