<div id="date-textbox-overview">
  <h1>Date Textbox Component</h1>
  <p class="component-subtitle">
    A calendar based "date picker" as an alternative to manual text entry.
  </p>
  <component-banner-img/>

  <p>
    A custom date textbox is usually presented in tandem with a textfield, as an
    alternative means to enter dates and date ranges with a calendar based
    interface.
  </p>
</div>
