<div id="date-textbox-overview">
  <component-banner-img/>

  <p>
    A custom date textbox is usually presented in tandem with a textfield, as an
    alternative means to enter dates and date ranges with a calendar based
    interface.
  </p>
</div>
