<div id="date-textbox-overview">
    <h1>Date Textbox Component</h1>
    <p class="component-subtitle">A calendar based "date picker" as an alternative to manual text entry.</p>
    <component-banner-img />

    <p>
        The date textbox offers a calendar based "date picker" as an alternative to manual text entry.
    </p>
</div>
