<div id="star-rating-select-overview">
    <h1>Star Rating Select Component</h1>
    
    <p>
        Star rating select allows users to interact with and set a star rating.
    </p>

    <p>
        Star rating select uses radio buttons under the hood so even in the absence of CSS, its gracefully degradation should allow for full accessible interactivity and use.
    </p>

    <p>
        <strong>NOTE:</strong>
        ${" "}JavaScript is required to handle the filled visual marking of all stars previous to the currently selected star rating.
    </p>
</div>
