import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Tooltip Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    First of all, the HTML title attribute is
    <strong>not</strong>
    an accessible tooltip. Read the
    <a href="accessibility/anti-patterns/title-tooltip">
      title tooltip anti-pattern
    </a>
    for more details.
  </p>
  <p>
    Secondly, the tooltip
    <strong>must</strong>
    describe the host element only. Do not create a host element (e.g. a
    button) purely for the sake of displaying an overlay. If that is your wish,
    consider the
    <a href="components/infotip">
      Infotip
    </a>
    pattern instead.
  </p>
  <p>
    Tooltip
    <strong>must not</strong>
    be applied to static elements. See the
    <a href="accessibility/anti-patterns/non-interactive-hover">
      non-interactive hover
    </a>
    anti-pattern.
  </p>
  <p>
    Tooltip
    <strong>must not</strong>
    use the
    <code>aria-haspopup</code>
    attribute. Tooltips are not considered ‘popups’ in this context.
  </p>
  <p>
    Tooltip
    <em>should not</em>
    be more than one sentence. Consider using the
    <a href="components/infotip">
      Infotip
    </a>
    pattern for longer content.
  </p>
  <p>
    Tooltip
    <em>should</em>
    follow the principal of
    <a href="http://en.wikipedia.org/wiki/Progressive_disclosure">
      progressive disclosure
    </a>
    - revealing the right information, at the right time.
  </p>
  <p>
    <em>If</em>
    the tooltip conveys crucial information, overlay content
    <em>should</em>
    be visible in a no-JavaScript state (i.e. use progressive
    enhancement).
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides the pattern interaction design for keyboard, screen
    reader, mouse &amp; touch.
  </p>
  <h3>Keyboard</h3>
  <p>
    Host
    <strong>must</strong>
    be keyboard focusable.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    appear after short delay when host receives focus.
  </p>
  <p>
    Keyboard focus order
    <strong>must</strong>
    move from host to first focusable control in overlay.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    disappear when focus leaves popover or when `ESC key is pressed.
  </p>
  <p>
    Focus
    <em>should not</em>
    move to overlay element itself, only its focusable children.
  </p>
  <h3>Screenreader</h3>
  <p>
    Assistive technology that supports tooltip role will announce the overlay
    content after a short delay. This delay is configurable in most screen
    readers.
  </p>
  <p>
    Reading order
    <strong>must</strong>
    flow directly from host into overlay.
  </p>
  <h3>Mouse</h3>
  <p>
    Overlay
    <strong>must</strong>
    appear after short delay whenever host receives mouseover.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    disappear when neither the host or overlay have mouseover.
  </p>
  <h3>Pointer</h3>
  <p>Many touch devices do not support hover interactions!</p>
  <p>
    You
    <em>should</em>
    consider using the click-activated
    <a href="components/infotip">
      Bubble Help
    </a>
    pattern instead.
  </p>
  <h2>FAQ</h2>
  <h3>What is the difference between Infotip Button and Tooltip?</h3>
  <p>
    A tooltip provides a tip about the
    <em>primary</em>
    action of an interactive element (typically a button). For example,
    the trashcan icon button in your mail application. The tooltip can be
    thought of as the
    <em>secondary</em>
    action of the button. It is always triggered by focus and hover.
  </p>
  <p>
    An
    <a href="components/infotip">
      infotip button
    </a>
    provides a tip about a nearby static element or content. It is always
    triggered by click.
  </p>
  <h3>This is different to the way Bootstrap Tooltip works. Why?</h3>
  <p>
    The fundamental difference is that the
    <a href="http://getbootstrap.com/javascript/#tooltips">
      Bootstrap Tooltip
    </a>
    get it’s content from the title attribute, whereas the pattern
    presented here gets it’s content from an element’s innerHTML. This allows us
    to more easily place HTML such as hyperlinks inside of our tooltips and,
    unlike Bootstrap, the tooltip content will be fully accessible
    <em>without</em>
    JavaScript.
  </p>
  <h3>
    Why do we need JavaScript at all? Can’t we do a tooltip with just CSS?
  </h3>
  <p>
    A pure CSS solution only gets us so far, it could not cover the following
    situations:
  </p>
  <ul>
    <li>Delay before showing overlay</li>
    <li>Keyboard focus management</li>
    <li>Overlay re-positioning logic when scrolling or near edge of screen</li>
  </ul>
</div>
