<div id="field-overview">
    <h1>Field Component</h1>
    
    <p>
        The field-preview-card-group is a group of single or multiple file
        preview cards.
    </p>

    <p>
        This component is an atomic piece${" "}
        <span class="highlight">
            file-preview-card
        </span>
        ${" "}which is the recommended piece to use. Using other components may
        result in unexpected results.
    </p>
</div>
