import { a11yDocs, components } from "./components.marko";
<for|folder, data| in=a11yDocs>
    <li>
        <h3>${data.properName}</h3>
        <ul>
            <for|item| of=data.list>
                <const/isComponentPattern=item.type === "component-patterns" && components[item.name]>

                <const/link=(
                    isComponentPattern
                        ? `/component/${item.name}/accessibility`
                        : `/accessibility/${item.type}/${item.name}`
                )>

                <li>
                    <a href=link class="nav-link" role="menuitem">
                        ${item.properName}
                    </a>
                </li>
            </for>
        </ul>
    </li>
</for>
