server import path from "path";

<for|folder, files| in=input.a11yDocs>
    <const/folderName = folder.split('/').pop() || 'Root'>
    <const/displayName = folderName.replace(/-([a-z])/g, function (g) {
        return ` ${g[1].toUpperCase()}`;
    })>
    <const/properFolderName = displayName.charAt(0).toUpperCase() + displayName.slice(1)>

    <li>
        <h3>${properFolderName}</h3>
        <ul>
            <for|filePath| of=files>
                <const/docName = path.basename(filePath, ".md")>
                <const/name = docName.replace(/-([a-z])/g, function (g) {
                    return ` ${g[1].toUpperCase()}`;
                })>
                <const/properName = name.charAt(0).toUpperCase() + name.slice(1)>

                // Extract the folder name after "patterns/"
                <const/folderName = folder.split('/').pop() || ''>

                <const/isComponentPattern = folderName === 'component-patterns'>

                <const/link = isComponentPattern ? `/component/${docName}/accessibility` : `/accessibility/${folderName}/${docName}`>

                <li>
                    <a href=link class="nav-link" role="menuitem">
                        ${properName}
                    </a>
                </li>
            </for>
        </ul>
    </li>
</for>
