static declare global {
    interface Window {
        dataLayer: any[]; // Or a more specific type if you define a structure for your dataLayer pushes
    }
}
<!-- Google tag (gtag.js) -->
<html-script async src="https://www.googletagmanager.com/gtag/js?id=G-9HQJ5CWCJZ"></html-script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(a: any, b:any){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9HQJ5CWCJZ');
</script>
