import { components } from "../data";

<for|_key, comp| in=components>
  <if=comp.properName>
    <li>
      <a href=(comp.componentUrls?.overview) class="nav-link">
        ${comp.properName}
      </a>
    </li>
  </if>
</for>
