import { properNameMap, getFileNameWithoutExtension } from "./components.marko";

export interface Input {
    components: string[];
}

<for|comp| of=input.components>
    <const/componentName=getFileNameWithoutExtension(comp)>
    <const/properName = properNameMap[componentName]>
    <li>
        <a href=`component/${componentName}` class="nav-link" role="menuitem">
            ${properName}
        </a>
    </li>
</for>
