<const metadata=input.metadata || {}>
<const/componentName=metadata["name"] || {}>
<const/currentComponent=metadata["ds-component"] || {}>
<const/dsComponent=(
    currentComponent.length > 0
        ? (currentComponent = currentComponent[0])
        : currentComponent
)>
<const/properName=(
    componentName.charAt(0).toUpperCase() + componentName.slice(1)
)>
<define/Body>
    ${properName} Component${" "}
    <if=input.beta === "true">
        <sup>BETA</sup>
    </if>
    <else if=input.alpha === "true">
        <sup>ALPHA</sup>
    </else>
</define>
<div class="component-header">
    <if=input.header === "h3">
        <h3>
            <Body/>
        </h3>
    </if>
    <else if=input.header === "h2">
        <h2>
            <Body/>
        </h2>
    </else>
    <else>
        <h1>
            <Body/>
        </h1>
    </else>
    <span class="component-header__link">

        <a
            href=`${dsComponent?.url || "https://playbook.ebay.com/design-system/components/"}`
            target="_blank">
            <svg
                class="icon icon--16"
                height="16"
                width="16"
                aria-hidden="true">
                <use href="#icon-external-link-16"/>
            </svg>
            ${" "}Playbook
        </a>
    </span>
</div>
