<div id="badge">
  <section-header/>

  <component-demo component="badge" variant="empty"/>
  <component-demo component="badge" variant="threeDigits"/>
</div>
export const metadata = {
  component: "badge",
  "ds-component": {
    name: "badge",
    version: 1.2,
  },
};
