<div id="eek-overview">
  <component-banner-img/>

  <p>
    EEK is an icon that is used for energy ratings. It is a rating system that
    is used to show how energy efficient a product is. EEKs have two parts, a
    range, and a rating.
  </p>
</div>
