<div id="file-preview-card-group-overview">
  <component-banner-img/>

<p>
    The file-preview-card-group is a group of single or multiple file preview
    cards.
  </p>

  <p>
    This component is an atomic piece
    <code>file-preview-card</code>
    which is the recommended piece to use. Using other components may
    result in unexpected results.
  </p>
</div>
