<div id="infotip-overview">
    <h1>Infotip Component</h1>
    
    <p>
        Infotip Button is a click-activated <a href="/component/popover">popover</a>. It discloses supplementary or advisory content about an existing onscreen element or region.
    </p>
    
    <p>
        Thematically, you can think of the infotip content fulfilling the same role as footnotes in a page.
    </p>
    
    <p>
        Infotip Button is a composite pattern containing a button and an overlay. The button toggles the visibility of the overlay. The overlay contains the help content.
    </p>
</div>
