<div id="tooltip-overview">
    <h1>Tooltip Component</h1>
    
    <p>
        A tooltip gives additional information about an interactive element - typically a button. The tooltip activates on mouse hover or keyboard focus of the button.
    </p>
    <p>
        The tooltip must be programmatically associated with the button by using the${" "}
        <span class="highlight">
            aria-describedby
        </span>
         property and
        <span class="highlight">
            tooltip
        </span>
         role.
    </p>
    <p>
        Toggle the
        <span class="highlight">
            aria-expanded
        </span>
         state of the button to expand or collapse its associated tooltip.
    </p>
</div>
