<div id="tabs-overview">
  <component-banner-img/>

  <p>
    Tabs allow the user to switch between multiple
    <em>panels</em>
    of content. By decluttering the user-interface in this way, we say
    that tabs follow the principal of
    <a href="https://en.wikipedia.org/wiki/Progressive_disclosure">
      progressive disclosure
    </a>
    .
  </p>
  <p>
    Selecting a tab should update the visible panel
    <strong>without</strong>
    a full page reload. If a full page load is required instead (i.e.
    acting like a link), please see the
    <a href="components/tabs/#tabs-fake">
      fake tab
    </a>
    section below for more details.
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>tabs</strong>
      : the composite patterns as a whole, containing a tablist, tabs and
      tabpanels
    </li>
    <li>
      <strong>tabs heading</strong>
      : the heading that immediately precedes the tabs widget
    </li>
    <li>
      <strong>tab list</strong>
      : contains two or more tabs
    </li>
    <li>
      <strong>tab</strong>
      : a type of button that displays it's associated tabpanel
    </li>
    <li>
      <strong>selected tab</strong>
      : the currently selected tab
    </li>
    <li>
      <strong>tab panel</strong>
      : contains the content related to the tab
    </li>
    <li>
      <strong>tab heading</strong>
      : the offscreen heading that maintains correct heading structure
    </li>
  </ul>
</div>
