import "./_index/+layout.style.scss";
<style.scss>
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
<html-script>
  (async function() {
    const skinSite = window.location.href.replace("skin/", "").replace("component/", "components/");
    if ((await fetch(skinSite, { method:"HEAD" })).status === 200) {
      window.location.replace(skinSite);
    }
  })();
</html-script>

<site-header/>
<main class="landing-page">
    <h1>Page not found</h1>
    <a class="fake-btn fake-btn--primary" href="./">
        Go home
    </a>
</main>
<site-footer/>