<div id="filter-button-overview">
    <h1>Filter Button Component</h1>
    
    <p>
        Use the
        <span class="highlight">
            filter-button
        </span>
         or
        <span class="highlight">
            filter-link
        </span>
        ${" "}classes, to create a button or link styled as a filter button. Group together multiple filter buttons inside of a${" "}
        <span class="highlight">
            filter-group
        </span>
         container.
    </p>
</div>
