<div id="star-rating-overview">
  <component-banner-img/>

<p>
    This is a non-interactive, display-only star rating pattern. For an
    interactive user-selectable star rating selection pattern, refer
    <a href="components/star-rating-select">
      Star Rating Select
    </a>
    .
  </p>
</div>
