import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Star Rating (static) Accessibility</h1>
  <p>
    For a non-interactive star rating, use a static image with
    <a href="accessibility/techniques/alttext">
      text alternatives
    </a>
    .
  </p>
</div>
