<div id="toggle-button-group-overview">
    <h1>Toggle Button Group Component</h1>
    <p class="component-subtitle">A button that can be toggled between two states.</p>
    <component-banner-img />

    <p>
        The Toggle Button Group is a group of single or multi-select toggle buttons providing a visual emphasis on the available selectable choices.
    </p>

    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>Toggle Button Group</strong>: the name of the pattern as a whole. For example, the classname would be .toggle-button-group
        </li>
        <li>
            <strong>Toggle Button</strong>: a single button in the group. It can be pressed or unpressed.
        </li>
        <li>
            <strong>Pressed/Unpressed</strong>: correlates to the aria-pressed attribute
        </li>
    </ul>
</div>
