<div id="toggle-button-group-overview">
    <h1>Toggle Button Group Component</h1>
    
    <p>
        The Toggle Button Group is a group of single or multi-select toggle buttons providing a visual emphasis on the available selectable choices.
    </p>
</div>
