import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Button Accessibility</h1>
  <h2>Best Practices</h2>
  <p>This section is not yet available.</p>
  <h2>Interaction Design</h2>
  <h3>Pointer</h3>
  <p>
    Buttons should
    <strong>not</strong>
    have a hand cursor. See
    <a href="accessibility/antipatterns/hand-cursor-on-buttons">
      Hand Cursor on Buttons
    </a>
    .
  </p>
  <h3>Keyboard</h3>
  <p>
    If button has focus,
    <code>SPACEBAR</code>
    and
    <code>ENTER</code>
    keys should activate button.
  </p>
  <p>
    If button has focus,
    <code>TAB</code>
    and
    <code>SHIFT-TAB</code>
    keys should move to the next or previous focusable page element
    respectively.
  </p>
  <h3>Screenreader</h3>
  <p>
    If virtual cursor is on button, it must be invokable by virtual cursor (e.g.
    VO+SPACE in VoiceOver).
  </p>
  <p>
    Role of ‘button’
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Label
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Any state
    <strong>must</strong>
    be announced (e.g. expanded, haspopup).
  </p>
  <p>
    Any description
    <strong>must</strong>
    be announced (i.e. via aria-describedby).
  </p>
  <p>
    Any change in label (e.g. a waiting/loading state)
    <em>may</em>
    be announced by the screen reader (
    <strong>NOTE</strong>
    : a live-region should not be used for this).
  </p>
  <h2>ARIA Reference</h2>
  <p>
    This section lists all relevant ARIA roles, states and properties for a
    button.
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-haspopup</strong>
        </td>
        <td>
          Informs AT that the button opens a
          <a href="components/menu">
            menu
          </a>
          or
          <a href="accessibility/disclosure/lightbox-dialog">
            dialog
          </a>
          etc. when clicked.
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-controls</strong>
        </td>
        <td>Informs AT that the button controls another element.</td>
      </tr>
      <tr>
        <td>
          <strong>aria-expanded</strong>
        </td>
        <td>
          Informs AT of the expanded state of any associated element or content
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-label</strong>
        </td>
        <td>
          Creates a label for the button.
          <strong>Warning!</strong>
          This label will override any inner text that may be present.
          This property is most commonly used for icon buttons.
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-describedby</strong>
        </td>
        <td>
          Informs AT of any extended description or context related to the
          button. Note that this property has no effect on the accessible label
          of the button.
        </td>
      </tr>
    </tbody>
  </table>
</div>
