<div id="static-button">
  <h1>Button CSS Component</h1>

  <h3 id="button-default">
    Default Button
  </h3>
  <p>
    Use the
    <code>btn</code>
    or
    <code>fake-btn</code>
    class respectively, to create a minimal, default button. This default
    button is the foundation for all other button types.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn">
        Button
      </button>
      <a class="fake-btn" href="https://www.ebay.com">
        Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn">
      Button
    </button>
    <a class="fake-btn" href="https://www.ebay.com">
      Link
    </a>
  </highlight-code>

  <p>
    Use the
    <code>large</code>
    modifier to increase the size of the button.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--large">
        Large Button
      </button>
      <a class="fake-btn fake-btn--large" href="https://www.ebay.com">
        Large Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--large">
      Button
    </button>
    <a class="fake-btn fake-btn--large" href="https://www.ebay.com">
      Large Link
    </a>
  </highlight-code>

  <p>
    Use the
    <code>small</code>
    modifier to decrease the size of the button.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--small">
        Small Button
      </button>
      <a class="fake-btn fake-btn--small" href="https://www.ebay.com">
        Small Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--small">
      Button
    </button>
    <a class="fake-btn fake-btn--small" href="https://www.ebay.com">
      Small Link
    </a>
  </highlight-code>

  <h3 id="button-primary">
    Primary Button
  </h3>
  <p>
    Use the
    <code>primary</code>
    modifier to create a primary button style.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary">
        Button
      </button>
      <a class="fake-btn fake-btn--primary" href="https://www.ebay.com">
        Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary">
      Button
    </button>
    <a class="fake-btn fake-btn--primary" href="https://www.ebay.com">
      Link
    </a>
  </highlight-code>

  <h3 id="button-secondary">
    Secondary Button
  </h3>
  <p>
    Use the
    <code>secondary</code>
    modifier to create a secondary button style.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--secondary">
        Button
      </button>
      <a class="fake-btn fake-btn--secondary" href="https://www.ebay.com">
        Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--secondary">
      Button
    </button>
    <a class="fake-btn fake-btn--secondary" href="https://www.ebay.com">
      Link
    </a>
  </highlight-code>

  <h3 id="button-tertiary">
    Tertiary Button
  </h3>
  <p>
    Use the
    <code>tertiary</code>
    modifier to create a tertiary button style.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--tertiary">
        Button
      </button>
      <a class="fake-btn fake-btn--tertiary" href="https://www.ebay.com">
        Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--tertiary">
      Button
    </button>
    <a class="fake-btn fake-btn--tertiary" href="https://www.ebay.com">
      Link
    </a>
  </highlight-code>

  <h3 id="button-disabled">
    Disabled Button
  </h3>
  <p>
    The
    <code>disabled</code>
    attribute is
    <strong>required</strong>
    to fully disable a button tag.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary" type="button" disabled>
        Primary Button
      </button>
      <button class="btn btn--secondary" type="button" disabled>
        Secondary Button
      </button>
      <button class="btn btn--tertiary" type="button" disabled>
        Tertiary Button
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary" type="button" disabled>
      Primary Button
    </button>
    <button class="btn btn--secondary" type="button" disabled>
      Secondary Button
    </button>
    <button class="btn btn--tertiary" type="button" disabled>
      Tertiary Button
    </button>
  </highlight-code>

  <p>
    Remove the
    <code>href</code>
    attribute to fully disable an anchor tag.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <a class="fake-btn fake-btn--primary">
        Primary Link
      </a>
      <a class="fake-btn fake-btn--secondary">
        Secondary Link
      </a>
      <a class="fake-btn fake-btn--tertiary">
        Tertiary Link
      </a>
    </div>
  </div>
  <highlight-code type="html">
    <a class="fake-btn fake-btn--primary">
      Primary Link
    </a>
    <a class="fake-btn fake-btn--secondary">
      Secondary Link
    </a>
    <a class="fake-btn fake-btn--tertiary">
      Tertiary Link
    </a>
  </highlight-code>

  <h3 id="button-partially-disabled">
    Partially Disabled Button
  </h3>
  <p>
    Partially disabled buttons are programmatically disabled but retain keyboard
    focus when disabled. This helps prevent keyboard focus being moved back to
    the start of the page when focus is lost.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button aria-disabled="true" class="btn btn--primary" type="button">
        Prev
      </button>
      <button aria-disabled="true" class="btn btn--primary" type="button">
        Next
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button aria-disabled="true" class="btn btn--primary" type="button">
      Prev
    </button>
    <button aria-disabled="true" class="btn btn--primary" type="button">
      Next
    </button>
  </highlight-code>

  <h3 id="button-delete">
    Destructive Button
  </h3>
  <p>
    Use the
    <code>destructive</code>
    modifier to create a destructive button style used for removing data.
  </p>

  <h4>Primary Destructive Button</h4>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary btn--destructive">
        Primary Button
      </button>
      <a
        class="fake-btn fake-btn--primary fake-btn--destructive"
        href="https://www.ebay.com">
        Primary Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--destructive">
      Destructive Button
    </button>
    <a
      class="fake-btn fake-btn--primary fake-btn--destructive"
      href="https://www.ebay.com">
      Destructive Link
    </a>
  </highlight-code>

  <h4>Secondary Destructive Button</h4>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--secondary btn--destructive">
        Secondary Button
      </button>
      <a
        class="fake-btn fake-btn--secondary fake-btn--destructive"
        href="https://www.ebay.com">
        Secondary Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--secondary btn--destructive">
      Secondary Button
    </button>
    <a
      class="fake-btn fake-btn--secondary fake-btn--destructive"
      href="https://www.ebay.com">
      Secondary Link
    </a>
  </highlight-code>

  <h4>Tertiary Destructive Button</h4>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--tertiary btn--destructive">
        Tertiary Button
      </button>
      <a
        class="fake-btn fake-btn--tertiary fake-btn--destructive"
        href="https://www.ebay.com">
        Tertiary Link
      </a>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--tertiary btn--destructive">
      Tertiary Button
    </button>
    <a
      class="fake-btn fake-btn--tertiary fake-btn--destructive"
      href="https://www.ebay.com">
      Tertiary Link
    </a>
  </highlight-code>

  <h3 id="button-icon-adjacent">
    Adjacent Icon Button
  </h3>
  <p>
    Any SVG icon can be placed adjacent to the button text. To flip position of
    text and icon, simply swap the DOM order.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary">
        <span class="btn__cell">
          <svg aria-hidden="true" class="icon icon--24" height="16" width="16">
            <icon-symbol name="menu-24"/>
          </svg>
          <span>Button</span>
        </span>
      </button>
      <button class="btn btn--primary">
        <span class="btn__cell">
          <span>Button</span>
          <svg aria-hidden="true" class="icon icon--24" height="16" width="16">
            <icon-symbol name="menu-24"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary">
      <span class="btn__cell">
        <svg aria-hidden="true" class="icon icon--24" height="16" width="16">
          <use href="#icon-menu-24"/>
        </svg>
        <span>Button</span>
      </span>
    </button>
    <button class="btn btn--primary">
      <span class="btn__cell">
        <span>Button</span>
        <svg aria-hidden="true" class="icon icon--24" height="16" width="16">
          <use href="#icon-menu-24"/>
        </svg>
      </span>
    </button>
  </highlight-code>

  <h3 id="button-busy">
    Busy State for Button
  </h3>
  <p>
    Replace the button contents with a
    <a href="components/progress-spinner">
      progress spinner
    </a>
    to represent a busy state. Note also, that the button will need an
    aria-label to programmatically convey the busy state to assistive
    technology.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary" aria-label="Busy...">
        <span class="btn__cell">
          <span class="progress-spinner">
            <svg
              aria-hidden="true"
              class="icon icon--24"
              height="24"
              width="24">
              <icon-symbol name="spinner-24"/>
            </svg>
          </span>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary" aria-label="Busy...">
      <span class="btn__cell">
        <span class="progress-spinner">
          <svg aria-hidden="true" class="icon icon--24" height="24" width="24">
            <use href="#icon-spinner-24"/>
          </svg>
        </span>
      </span>
    </button>
  </highlight-code>

  <p>Click the button below for an interactive example.</p>

  <div class="demo">
    <div class="demo__inner">
      <button
        class="btn btn--primary"
        id="busy-button"
        style="min-width: 150px">
        Activate Spinner
      </button>
    </div>
  </div>

  <p>
    NOTE: it is recommended to use a
    <a href="components/snackbar-dialog">
      snackbar dialog
    </a>
    or
    <a href="components/inline-notice">
      inline-notice
    </a>
    in order to convey any status of success or failure.
  </p>

  <h3 id="button-layout">
    Flexible Button
  </h3>

  <p>
    Because the button cell uses flex box layout, it is fairly trivial to
    achieve alternate layouts, as in the example below.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button
        class="btn btn--primary btn--fluid"
        type="button"
        style="padding-left: 16px; padding-right: 16px;">
        <span class="btn__cell" style="justify-content: space-between">
          <span>Select</span>
          <span style="display: inline-flex;">
            <span>Any</span>
            <svg aria-hidden="true" class="icon icon--16" width="8" height="8">
              <icon-symbol name="chevron-down-16"/>
            </svg>
          </span>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button
      class="btn btn--primary btn--fluid"
      type="button"
      style="padding-left: 16px; padding-right: 16px;">
      <span class="btn__cell" style="justify-content: space-between">
        <span>Select</span>
        <span style="display: inline-flex;">
          <span>Any</span>
          <svg aria-hidden="true" class="icon icon--16" width="8" height="8">
            <use href="#icon-chevron-down-16"/>
          </svg>
        </span>
      </span>
    </button>
  </highlight-code>

  <h3 id="button-fixed-height">
    Fixed Height Button
  </h3>

  <p>
    To ensure the same height as other controls, apply a fixed height to a
    button with
    <code>btn--fixed-height</code>
    or
    <code>btn--large-fixed-height</code>
    .
  </p>

  <div class="demo">
    <div class="demo__inner">
      <span class="textbox">
        <input
          aria-label="Email Address"
          class="textbox__control"
          type="text"
          placeholder="textbox">
      </span>
      <button class="btn btn--primary btn--fixed-height">
        Button
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <span class="textbox">
      <input
        aria-label="Email Address"
        class="textbox__control"
        type="text"
        placeholder="textbox">
    </span>
    <button class="btn btn--primary btn--fixed-height">
      Button
    </button>
  </highlight-code>

  <h3 id="button-fixed-width">
    Fixed Width Button
  </h3>

  <p>
    Buttons naturally grow wider with their text. The text will wrap naturally
    once the button width grows to exceed its constrained width.
  </p>

  <div class="demo">
    <button class="btn btn--primary" style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary" style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </highlight-code>

  <h3 id="button-fixed-width-and-height">
    Fixed Width and Height Button
  </h3>

  <p>
    Of course, with a constrained width
    <em>and</em>
    a fixed height, the text will begin to overflow.
  </p>

  <div class="demo">
    <button class="btn btn--primary btn--fixed-height" style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary btn--fixed-height" style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </highlight-code>

  <p>
    The solution is to apply truncation, via the
    <code>btn--truncated</code>
    or
    <code>btn--large-truncated</code>
    modifiers.
  </p>

  <div class="demo">
    <button
      class="btn btn--primary btn--fixed-height btn--truncated"
      style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </div>

  <highlight-code type="html">
    <button
      class="btn btn--primary btn--fixed-height btn--truncated"
      style="width: 200px;">
      Button with a lot of text that will wrap
    </button>
  </highlight-code>

  <h3 id="button-expandable">
    Expandable Buttons
  </h3>
  <p>
    Use the "chevron-down-12" icon to create an expandable button style. Use
    <code>aria-expanded</code>
    to convey state.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--primary" aria-expanded="false" type="button">
        <span class="btn__cell">
          <span class="btn__text">
            Button
          </span>
          <svg class="icon icon--16" height="10" width="14" aria-hidden="true">
            <icon-symbol name="chevron-down-16"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--primary" aria-expanded="false" type="button">
      <span class="btn__cell">
        <span class="btn__text">
          Button
        </span>
        <svg class="icon icon--16" height="10" width="14" aria-hidden="true">
          <use href="#icon-chevron-down-16"/>
        </svg>
      </span>
    </button>
  </highlight-code>

  <p>
    Use the
    <code>borderless</code>
    modifier to remove the border from the expandable button.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--borderless" type="button">
        <span class="btn__cell">
          <span class="btn__text">
            Button
          </span>
          <svg class="icon icon--12" height="10" width="14" aria-hidden="true">
            <icon-symbol name="chevron-down-12"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--borderless" type="button">
      <span class="btn__cell">
        <span class="btn__text">
          Button
        </span>
        <svg class="icon icon--12" height="10" width="14" aria-hidden="true">
          <use href="#icon-chevron-down-12"/>
        </svg>
      </span>
    </button>
  </highlight-code>

  <p>
    Use the
    <code>form</code>
    modifier to create an expandable button style that matches the look of
    form controls (e.g. textbox, select).
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button class="btn btn--form" aria-expanded="false" type="button">
        <span class="btn__cell">
          <span class="btn__text">
            Button
          </span>
          <svg class="icon icon--12" height="10" width="14" aria-hidden="true">
            <icon-symbol name="chevron-down-12"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--form" aria-expanded="false" type="button">
      <span class="btn__cell">
        <span class="btn__text">
          Button
        </span>
        <svg class="icon icon--12" height="10" width="14" aria-hidden="true">
          <use href="#icon-chevron-down-12"/>
        </svg>
      </span>
    </button>
  </highlight-code>

  <p>
    Use the
    <code>btn--slim</code>
    modifier, in conjunction with
    <code>btn--form</code>
    , if displaying an icon only.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button
        class="btn btn--form btn--slim expand-btn-example"
        type="button"
        aria-expanded="false"
        aria-label="Expand/Collapse">
        <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
          <icon-symbol name="chevron-down-12"/>
        </svg>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button
      class="btn btn--form btn--slim"
      type="button"
      aria-expanded="false"
      aria-label="Expand/Collapse">
      <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
        <use href="#icon-chevron-down-12"/>
      </svg>
    </button>
  </highlight-code>

  <p>
    For a floated "label", which will appear above the value, use the
    <code>btn--floating-label</code>
    and
    <code>btn__floating-label</code>
    classes.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button
        class="btn btn--form btn--floating-label"
        style="min-width: 150px;">
        <span class="btn__cell">
          <span class="btn__floating-label">
            Color
          </span>
          <span class="btn__text">
            Blue
          </span>
          <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
            <icon-symbol name="chevron-down-12"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--form btn--floating-label" style="min-width: 150px;">
      <span class="btn__cell">
        <span class="btn__floating-label">
          Color
        </span>
        <span class="btn__text">
          Blue
        </span>
        <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
          <use href="#icon-chevron-down-12"/>
        </svg>
      </span>
    </button>
  </highlight-code>

  <p>
    In a resting state, with no value, the
    <code>btn__floating-label--inline</code>
    modifier is required. This should be added with JavaScript
  </p>

  <div class="demo">
    <div class="demo__inner">
      <button
        class="btn btn--form btn--floating-label"
        style="min-width: 150px;">
        <span class="btn__cell">
          <span class="btn__floating-label btn__floating-label--inline">
            Color
          </span>
          <span class="btn__text"/>
          <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
            <icon-symbol name="chevron-down-12"/>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <highlight-code type="html">
    <button class="btn btn--form btn--floating-label" style="min-width: 150px;">
      <span class="btn__cell">
        <span class="btn__floating-label btn__floating-label--inline">
          Color
        </span>
        <span class="btn__text"/>
        <svg class="icon icon--12" height="8" width="8" aria-hidden="true">
          <use href="#icon-chevron-down-12"/>
        </svg>
      </span>
    </button>
  </highlight-code>
</div>
export const metadata = {
  component: "button",
  "ds-component": {
    name: "cta-button",
    version: 1.6,
    url: "https://playbook.ebay.com/design-system/components/button",
  },
};
