<div id="image-placeholder-overview">
  <component-banner-img/>

<p>
    Image placeholder should be used when an image is not present. By default
    this is 300x300px, but can be resized to it a container.
  </p>
  <p>
    This asset can be found either in
    <code>dist/svg/icons/image-placeholder.svg</code>
    or in the icons bundle
  </p>
</div>
