import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Tourtip Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    Overlay
    <strong>must</strong>
    contain a button to dismiss the tourtip.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    remain on screen until explicitly dismissed by user.
  </p>
  <p>Overlay cannot be opened once closed without a full page refresh.</p>
  <p>
    Please refer to the
    <a href="accessibility/disclosure/popover">
      popover
    </a>
    pattern for all inherited best practices.
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides guidance for keyboard, screen reader and pointing
    devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    Please refer to the popover pattern for all inherited keyboard interactions.
  </p>
  <h3>Screen Reader</h3>
  <p>
    If high-priority, tourtip
    <strong>must</strong>
    be announced.
  </p>
  <p>
    If high-priority, tourtip
    <strong>must</strong>
    be listed as a region/landmark.
  </p>
  <p>
    Please refer to the popover pattern for all inherited screen reader
    interactions.
  </p>
  <h3>Pointer</h3>
  <p>
    Please refer to the popover pattern for all inherited pointer interactions.
  </p>
</div>
