<div id="chips-combobox-overview">
  <component-banner-img/>

  <p>
    The chips-combobox is a composite component that combines and implements
    <a href="components/combobox">
      combobox
    </a>
    and
    <a href="components/chip">
      chip
    </a>
    . It is responsible for creating and managing chip components. It
    allows the searching of existing selection options and manages
    additions/removals of chips. The search/selection follows the combobox
    pattern.
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>combobox</strong>
      : the pattern as a whole, comprised of the following distinct parts
    </li>
    <li>
      <strong>textbox</strong>
      : stores and displays the form value
    </li>
    <li>
      <strong>flyout</strong>
      : the overlay that contains a listbox
    </li>
    <li>
      <strong>listbox</strong>
      : listbox containing options
    </li>
    <li>
      <strong>option/suggestion</strong>
      : a suggestion inside of the listbox and/or directly after the
      textbox value
    </li>
    <li>
      <strong>autocomplete</strong>
      : the autocomplete type (optional)
    </li>
    <li>
      <strong>filter</strong>
      : the filtering criteria (optional)
    </li>
    <li>
      <strong>chip</strong>
      : the individual items inside that can be added and removed
    </li>
  </ul>
</div>
