import {
    componentMetadata
} from "../../tags/components.marko";

<!doctype html>
<html lang="en">
    <head>
        <title>${$global.meta.pageTitle}</title>
    </head>

    <body>
        <p>${JSON.stringify(componentMetadata)}</p>
    </body>
</html>
