import { getAllComponentNames, getEnhancedComponentMetadata } from "../component-utils.js";

$ const metadata = {};
$ const componentNames = getAllComponentNames();
$ for (let componentName of componentNames) {
    metadata[componentName] = getEnhancedComponentMetadata(componentName);
}
<!doctype html>
<html lang="en">
    <head>
        <title>${$global.meta.pageTitle}</title>
    </head>

    <body>
        <p>${JSON.stringify(metadata)}</p>
    </body>
</html>
