import {
    getAllComponentNames,
    getEnhancedComponentMetadata,
} from "../component-utils.js";

<const/metadata=(() => {
    const metadata: { [key: string]: any } = {};
    for (let componentName of getAllComponentNames()) {
        metadata[componentName] = getEnhancedComponentMetadata(componentName);
    }
    return metadata;
})()>
<!doctype html>
<html lang="en">
    <head>
        <title>${$global.meta.pageTitle}</title>
    </head>

    <body>
        <p>${JSON.stringify(metadata)}</p>
    </body>
</html>
