import "@docsearch/css";
import docsearch from "@docsearch/js";

<script>
  docsearch({
    container: container(),
    indexName: "opensource-ebay",
    appId: "XQS94B05ZH",
    apiKey: "86ffca6d26156df709adfd8d4a44f8b5",
  });
</script>

<link rel="preconnect" href="https://R2IYF7ETH7-dsn.algolia.net" crossorigin>
<div/container class="evo-site-search"/>
