<div id="utility-overview">
  <component-banner-img/>

  <p>
    The utility module provides a small set of common, utility classes. It is
    <strong>not</strong>
    intended as an
    <em>exhaustive</em>
    library of utility classes or functions (i.e. it is not
    <a href="https://funcssion.com">
      Funcssion
    </a>
    !).
  </p>
</div>
