<div id="pagination-overview">
    <h1>Pagination Component</h1>
    
    <p>
        Pagination allows a user to navigate back and forth through a URL based dataset, or jump directly to any specific URL in that set.
    </p>
    <p>
        The pagination set has a maximum of seven items. An item can be a page number or an overflow element (see next section).
    </p>
    <p>
        Traditional MPA pagination uses links to reload the entire page when clicked. For SPAs, this default click event behaviour can be prevented with JavaScript (${" "}
        <span class="highlight">
            aria-live
        </span>
         should also be set from "off" to "on").
    </p>
</div>
