<div id="floating-label-overview">
  <component-banner-img/>

  <p>
    Floating labels appear to sit
    <em>inside</em>
    the textbox when it has no value or focus, and sit
    <em>above</em>
    the textbox otherwise.
  </p>
</div>
