<div id="file-preview-card-overview">
    <h1>File Preview Card Component</h1>
    
    <p>
        The file-preview-card can be used to display file previews. A css grid layout is used to define the areas in which certain elements can be placed.
    </p>
</div>
