<div id="page-notice-overview">
  <component-banner-img/>

  <p>
    A page notice appears prominently at the top of the page, for high priority
    use cases, conveying the next course of action for a task or flow.
  </p>
  <p>
    To aid discoverabilty for assistive technology, each page notice is a
    labelled landmark region with a level-2 heading.
  </p>
  <p>
    A page notice can have a status of general (default), confirmation,
    attention or information.
  </p>
</div>
