import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Checkbox Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    Checkboxes are form controls and
    <em>should</em>
    be inside a form tag. The form
    <em>should</em>
    have a submit button.
  </p>
  <p>
    Individual checkboxes
    <strong>must</strong>
    have a visible, onscreen label. Typically we use a label tag to
    achieve this.
  </p>
  <p>
    Groups of
    <em>related</em>
    checkboxes
    <strong>must</strong>
    have a group label. Typically we use fieldset and legend tags to
    achieve this.
  </p>
  <p>
    Toggling a checkbox should not cause an app update until the related form is
    submitted by the user. If instant app updates are required, perhaps consider
    the
    <a href="components/switch">
      switch
    </a>
    pattern or a button-less
    <a href="components/menu">
      menu
    </a>
    .
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction design for keyboard, screen reader and
    pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    Checkbox
    <strong>must</strong>
    be keyboard focusable (unless disabled).
  </p>
  <p>
    If checkbox has keyboard focus, pressing SPACEBAR
    <strong>must</strong>
    toggle the checked state.
  </p>
  <p>
    If checkbox has keyboard focus, pressing ENTER key
    <strong>must</strong>
    submit the form.
  </p>
  <p>
    If checkbox has keyboard focus, pressing TAB key or SHIFT-TAB key combo
    moves keyboard focus to next or previous interactive element on page
    respectively.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Checkbox
    <strong>must</strong>
    be reachable with screen reader (even when disabled).
  </p>
  <p>
    Checkbox
    <strong>must</strong>
    be announced as “checkbox”.
  </p>
  <p>
    Checkbox label
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Checkbox group label, if applicable,
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Checkbox state
    <strong>must</strong>
    be announced.
  </p>
  <h3>Pointer</h3>
  <p>
    Clicking checkbox
    <strong>must</strong>
    toggle the checked state.
  </p>
  <p>
    Clicking checkbox label
    <strong>must</strong>
    toggle the checked state.
  </p>
  <h2>ARIA Reference</h2>
  <p>
    This section gives an overview of our use of ARIA, within the specific
    context of the checkbox pattern.
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-hidden</strong>
        </td>
        <td>
          Removes the presentational SVG element from the accessibility tree.
        </td>
      </tr>
    </tbody>
  </table>
</div>
