<div id="signal">
  <section-header/>

  <component-demo component="signal" variant="trustWorthy"/>
  <component-demo component="signal" variant="recent"/>
  <component-demo component="signal" variant="timeSensitive"/>
  <component-demo component="signal" variant="neutral"/>
  <component-demo component="signal" variant="textSpacing"/>

</div>
export const metadata = {
  component: "signal",
  "ds-component": {
    name: "signal",
    version: 1,
  },
};
