<div id="menu-overview">
    <h1>Menu Component</h1>
    
    <p>
        A menu is${" "}
        <strong>not</strong>
        ${" "}a form control. If you wish to submit form data natively, without
        JavaScript, please consider${" "}
        <a href="component/checkbox">
            checkbox
        </a>
        ${" "},${" "}
        <a href="component/combobox">
            combobox
        </a>
        ${" "},${" "}
        <a href="component/select">
            select
        </a>
        ${" "}, or${" "}
        <a href="component/radio">
            radio
        </a>
        ${" "}instead.
    </p>
    <p>
        Selecting a menu item command should update the page${" "}
        <strong>without</strong>
        ${" "}a full page reload (i.e. acting similar to buttons, checkboxes or
        radios). If a full page load is required instead (i.e. acting like
        links), please refer to the${" "}
        <a href="component/menu/#menu-fake">
            fake menu
        </a>
        ${" "}.
    </p>
</div>
