<div id="menu-overview">
  <h1>Menu Component</h1>
  <p class="component-subtitle">
    Menu items trigger an immediate action within the current page.
  </p>

  <p>
    A menu may contain [menu
    item](http://www.w3.org/TR/wai-aria/roles#menuitem), [menu item
    radio](http://www.w3.org/TR/wai-aria/roles#menuitemradio) or [menu item
    checkbox](http://www.w3.org/TR/wai-aria/roles#menuitemcheckbox) commands. A
    menu is appropriate when requiring a partial page re-render _without_ using
    a form or full page reload. For example: filtering and sorting of search
    results. A menu is not appropriate for a full page reload. For that, please
    use links instead (see the [Fake Menu](../navigation/fake-menu-button)
    pattern). The distinction between menu items and links is important! A menu
    item is a command that executes JavaScript, whereas a link is a command that
    navigates to a url. If your menu must contain a _mix_ of JavaScript
    behaviour and links behaviour, please use a list of buttons and links. Do no
    mix menu items and links.
  </p>
  <p>
    A menu is
    <strong>not</strong>
    a form control. If you wish to submit form data natively, without
    JavaScript, please consider
    <a href="component/checkbox">
      checkbox
    </a>
    ,
    <a href="component/combobox">
      combobox
    </a>
    ,
    <a href="component/select">
      select
    </a>
    , or
    <a href="component/radio">
      radio
    </a>
    instead.
  </p>
  <p>
    Selecting a menu item command should update the page
    <strong>without</strong>
    a full page reload (i.e. acting similar to buttons, checkboxes or
    radios). If a full page load is required instead (i.e. acting like links),
    please refer to the
    <a href="component/menu/#menu-fake">
      fake menu
    </a>
    .
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>menu</strong>
      : the pattern as a whole, comprising the parts listed below
    </li>
    <li>
      <strong>command list</strong>
      : the list of menu items
    </li>
    <li>
      <strong>command</strong>
      : the individual menu item, menu item checkbox or menu item radio commands
    </li>
  </ul>
</div>
