<div id="progress-spinner-overview">
  <component-banner-img/>

<p>A progress-spinner animation is used to convey a busy or loading state.</p>
  <p>
    A progress-spinner is considered a critical graphic, therefore an
    <code>img</code>
    role and
    <code>aria-label</code>
    property are required.
  </p>
</div>
