<div id="radio-overview">
    <h1>Radio Component</h1>
    <p class="component-subtitle">A radio button is a form control that allows a single selection from a group of choices.</p>
    <component-banner-img />

    <p>
        The purpose of a radio button is to collect form data. Therefore, radio buttons should always be used in conjunction with a form, label and submit button.
    </p>
    <p>
        The radio is decoupled from its text label to allow more flexibility in terms of layout. How and where you provide this label is up to you, but do not forget it!
    </p>
</div>
