<div id="cta-button-overview">
    <h1>CTA Button Component</h1>
    <p class="component-subtitle">An action button takes users to another URL destination.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/cta-button-400.png" aria-hidden="true" />
    
    <p>
        An action button takes users to another URL destination (i.e. it is always a hyperlink).
    </p>
</div>
