<div id="skeleton-overview">
  <component-banner-img/>

  <p>
    A skeleton is a graphical placeholder, reserving physical space in the page
    for content that is not yet available for the client to render. A skeleton
    can be considered as an alternative to the
    <a href="components/progress-spinner">
      progress spinner
    </a>
    in many situations.
  </p>
  <p>
    A skeleton is appropriate as a placeholder for content in cases where a
    service or action may be slow to resolve.
  </p>
  <p>
    A skeleton is NOT appropriate as a placeholder for content if rendering that
    content or placeholder would cause unexpected page layout shift.
  </p>
</div>
