<div id="item-tile-group-overview">
  <component-banner-img/>

<p>
    A standalone item tile on its own wouldn't be very useful. You'd typically
    use multiple item tiles inside a layout. Here's an example of a list of item
    tiles using the
    <code>layout-grid</code>
    component. The responsive display rules are set on the
    <code>layout-grid</code>
    using the specific breakpoint hooks using the various breakpoint
    attributes.
  </p>
</div>
