<div id="panel-dialog-overview">
  <component-banner-img/>

  <p>
    Panel dialogs are modal and require a close button. They fill the entire
    y-axis of the screen and a portion of the x-axis.
  </p>
  <p>
    The dialog must remain in a
    <code>hidden</code>
    state for all users and devices until opened.
  </p>
</div>
