<div id="item-tile-overview">
  <component-banner-img/>

<p>
    Item tiles display an item preview with key details for further
    decision-making and quick comparison of similar items.
  </p>
</div>
