<main class="accessibility-landing-content">
  <h1>Appendix</h1>
  <ul>
    <li>
      <a href="accessibility/appendix/aria-essentials">
        ARIA Essentials
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/checklist">
        Checklist
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/faq">
        Accessibility FAQ
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/keyboard-interface">
        Keyboard Interface
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/known-issues">
        Known Issues
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/legacy-patterns">
        Legacy Patterns
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/mind-pattern-template">
        Accessibility Pattern Template
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/pattern-naming-scheme">
        Pattern Naming Scheme
      </a>
    </li>
    <li>
      <a href="accessibility/appendix/references">
        References
      </a>
    </li>
  </ul>
</main>
