<main class="accessibility-landing-content">
  <h1>Patterns</h1>
  <p>
    List of design patterns that don't have a dedicated component.
  </p>
  <ul>
    <li>
      <a href="accessibility/patterns/description-list">
        Description List
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/fake-menu-button">
        Fake Menu Button
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/fake-tabs">
        Fake Tabs
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/footnote">
        Footnote
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/form-validation">
        Form Validation
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/form">
        Form
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/heading">
        Heading
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/image">
        Image
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/input-dialog">
        Input Dialog
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/input-meter">
        Input Meter
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/input-validation">
        Input Validation
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/popover">
        Popover
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/pulldown-list">
        Pulldown List
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/region">
        Region
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/skip-navigation">
        Skip Navigation
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/table-cell">
        Table Cell
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/time">
        Time
      </a>
    </li>
  </ul>
</main>
