<div class="a11y-pattern-content">
  <h1>Pulldown List</h1>
  <h2>Introduction</h2>
  <p>
    A toggle button at the end of a list that when activated will be “pulled
    down” to reveal more list items. The button can be toggled again, restoring
    the initial state of the list.
  </p>
  <p>
    Not to be confused with the HTML details element. They have slightly
    different behaviour. The button in a details element always remains in place
    and its label never changes. In a pulldown list, the button toggles both its
    place in the DOM and its label.
  </p>
  <h2>Best Practices</h2>
  <p>
    Another variant of the Pulldown List is one in which the button is simply
    removed from the DOM after activation, i.e. there is no way to restore the
    list back to its initial state.
  </p>
  <h2>Examples</h2>
  <p>
    Experience the pattern in action on our companion
    <a href="https://opensource.ebay.com/mindpatterns/disclosure/pulldown-list">
      eBay MIND Patterns examples website
    </a>
    .
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction guidelines for keyboard, screen reader,
    and pointing devices.
  </p>
  <h3>General</h3>
  <p>
    Activating the button reveals new list items and moves the button to the end
    of these new items.
  </p>
  <p>The button text toggles between “Show More” and “Show Less”.</p>
  <h3>Keyboard</h3>
  <p>
    Button is activated with
    <strong>ENTER</strong>
    or
    <strong>SPACEBAR</strong>
    key.
  </p>
  <p>
    After “Show More” button is activated, keyboard focus is placed on the
    <em>first</em>
    new list item.
  </p>
  <p>
    After “Show Less” button is activated, keyboard focus remains on the button.
  </p>
  <h3>Screenreader</h3>
  <p>
    If following WCAG 2.4.9, button should have additional
    <a href="accessibility/techniques/offscreen-text">
      offscreen context
    </a>
    .
  </p>
  <h3>Pointer</h3>
  <p>
    There is no pointer specific interactions other than the general activation
    of the button.
  </p>
  <h2>ARIA Reference</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-label</strong>
        </td>
        <td>
          Can be used on the button to append additional context to assistive
          technology if following WCAG 2.4.9
        </td>
      </tr>
    </tbody>
  </table>
</div>
