import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Phone Input Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    Phone input group
    <strong>could</strong>
    have an accessible label.
  </p>
  <p>
    Listbox button label must have an accessible label. Check
    <a href="components/listbox-button">
      listbox button
    </a>
    best practices.
  </p>
  <p>Textbox must have an accessible label.</p>
  <p>
    Textbox should
    <strong>not</strong>
    be split to multiple input boxes.
  </p>
  <p>
    Textbox can have an attribute
    <code>autocomplete=tel-national</code>
    . While
    <code>autocomplete</code>
    is a promising technique for supporting personalization in HTML,
    support for this in AT is fairly limited.
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction design for keyboard, screen reader &amp;
    pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    The button
    <strong>must</strong>
    be keyboard focusable.
  </p>
  <p>Listbox button and textbox sit in the page’s natural tab sequence.</p>
  <p>
    When Listbox button has focus,
    <code>TAB</code>
    key must move keyboard focus to textbox.
  </p>
  <p>
    When textbox has focus,
    <code>TAB</code>
    key moves focus to the next interactive element in the page.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Field set (group label)
    <strong>must</strong>
    be announced (e.g. Phone number).
  </p>
  <p>
    Listbox button label
    <strong>must</strong>
    be announced (e.g. Country code USA +1, Country code UK +44).
  </p>
  <p>
    Listbox button state
    <strong>must</strong>
    be announced (e.g. expanded or collapsed).
  </p>
  <p>
    Textbox label
    <strong>must</strong>
    be announced (e.g. ‘phone number’).
  </p>
  <h3>Pointer</h3>
  <p>
    Clicking any listbox item
    <strong>must</strong>
    activate that item.
  </p>
</div>
