<div id="chip-overview">
    <h1>Chip Component</h1>
    <p class="component-subtitle">A chip conveys the application of its value to a section of a form.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/chip-400.png" aria-hidden="true" />
    
    <p>
        A chip conveys the application of its value to a section of a form. A
        chip is typically added to the page via the chips-combobox component.
    </p>
    <p>
        A chip is transient; it can be completely removed from the page via the
        delete button.
    </p>
</div>
