<div id="split-button-overview">
  <component-banner-img/>

<p>
    A split button is a button broken into two seperately actionable portions: a
    common action (a
    <a href="components/button">
      button
    </a>
    ) at the start, and supplemental actions (a
    <a href="components/menu-button">
      menu button
    </a>
    ) at the end.
  </p>
  <p>
    Split buttons are for actions only, and should not be used for site
    navigation.
  </p>
</div>
