<div id="progress-stepper-overview">
    <h1>Progress Stepper Component</h1>
    <p class="component-subtitle">Steppers portray progress through a sequence of steps.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/progress-stepper-400.png" aria-hidden="true" />
    
    <p>Steppers portray progress through a sequence of steps.</p>
</div>
