<div id="progress-stepper-overview">
    <h1>Progress Stepper Component</h1>
    <p class="component-subtitle">Steppers portray progress through a sequence of steps.</p>
    <component-banner-img />

    <p>Steppers portray progress through a sequence of steps.</p>
</div>
