<div id="avatar-overview">
    <h1>Avatar Component</h1>
    <p>
        Avatars are graphical assets that represent users' identities across products.
    </p>
    <p>
        Avatars can show a default image (the first letter of the user's name), custom image, or unknown image.
    </p>
    <p>
        <strong>NOTE:</strong>
         Avatars can be considered as
        <em>decorative</em>
         or
        <em>informative</em>
        ${" "}depending on their context and surroundings. Typically, an avatar is displayed adjacent to the user's name, or a sign-in link, therefore making it decorative.
    </p>
</div>
