import metadata from "./metadata.json";

<component-tabs componentInfo=metadata>
    <div id="accordion-a11y">
        <p>
            <a11y-mind-pattern pattern="accordion"/>
        </p>
    </div>
</component-tabs>