<div id="textbox-overview">
  <component-banner-img/>
  <p>
    The purpose of a textbox (also known as a text field or text input) is to collect form data. Therefore, textbox should
    typically be used in conjunction with a form, label and submit button.
  </p>
</div>
