@use "../variables/variables";

ul.file-preview-card-group {
    display: grid;
    gap: var(--spacing-100);
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.file-preview-card-group > li {
    height: max-content;
}

@media (min-width: variables.$screen-size-SM) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: variables.$screen-size-MD) {
    ul.file-preview-card-group {
        gap: var(--spacing-200);
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: variables.$screen-size-LG) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: variables.$screen-size-XL) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (min-width: variables.$screen-size-XL2) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: variables.$screen-size-XL3) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (min-width: variables.$screen-size-XL4) {
    ul.file-preview-card-group {
        grid-template-columns: repeat(14, 1fr);
    }
}
