<div id="details-overview">
    <h1>Details Component</h1>
    <img class="component-banner-img" src="/src/routes/static/img/components/details-400.png" aria-hidden="true" />
    
    <p>
        A region of content that can be expanded and collapsed, forcing any adjacent content to be pushed down  the page.
    </p>
    <p>
        Details are often used to declutter secondary content (e.g. 'Show more'), navigation links or form options.
    </p>
    <p>
        <strong>NOTE:</strong>
         HTML provides a details tag by default, however it is not supported in Internet Explorer or Edge browsers. The
        <a href="https://github.com/javan/details-element-polyfill">
            details-element-polyfill
        </a>
         is required to polyfill older browsers.
    </p>
</div>
