<div id="details-overview">
    <h1>Details Component</h1>
    
    <p>
        A details element is an interactive control used to expand and collapse content.
    </p>
    <p>
        <strong>NOTE:</strong>
         The
        <a href="https://github.com/javan/details-element-polyfill">
            details-element-polyfill
        </a>
         is required to polyfill older browsers.
    </p>
</div>
