<master-icons/>
<site-header/>
<div class="content page-grid-container">
    <div class="page-grid">
        <site-navrail/>
        <main>
            <breadcrumbs/>
            <component-tabs/>
            <${input.content}/>
        </main>
    </div>
</div>
<site-footer/>
