<div id="icon-overview">
    <h1>Icon Component</h1>
    
    <p>
        The icon module is a bundle that provides full access to the entire range of eBay iconography via the${" "}
        <span class="highlight">
            &lt;svg&gt;
        </span>
         and
        <span class="highlight">
            &lt;use&gt;
        </span>
         tags.
    </p>
</div>
