<div id="icon-button-overview">
  <h1>Icon Button Component</h1>
  <p class="component-subtitle">
    A borderless, actionable icon style.
  </p>
  <component-banner-img/>

  <p>
    Use the${" "}
    <code>icon-btn</code>
    ${" "}class (for buttons) or the${" "}
    <code>icon-link</code>
    ${" "}class (for links) and any of the available${" "}
    <a href="component/icon">
      icons
    </a>
    ${" "}for a borderless, actionable icon style.
  </p>
</div>
