<div id="icon-button-overview">
    <h1>Icon Button Component</h1>
    
    <p>
        Use the
        <span class="highlight">
            icon-btn
        </span>
         class (for buttons) or the
        <span class="highlight">
            icon-link
        </span>
         class (for links) and any of the available
        <a href="component/icon">
            icons
        </a>
         for a borderless, actionable icon style.
    </p>
</div>
