<div id="progress-bar-overview">
    <h1>Progress Bar Component</h1>
    <component-banner-img/>

    <p>
        The progress bar gives an immediate, real-time visualisation of the current task completion status.
    </p>
</div>
