<div id="listbox-overview">
    <h1>Listbox Component</h1>
    <p class="component-subtitle">Allows selection of one or more items from a list of options.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/listbox-400.png" aria-hidden="true" />
    
    <p>
        A listbox is intended for use as a custom, non-form based implementation of the native HTML select element.
    </p>
    
    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>widget</strong>: the pattern as a whole, comprised of the parts below
        </li>
        <li>
            <strong>listbox</strong>: contains a list of options
        </li>
        <li>
            <strong>option</strong>: each option available for selection
        </li>
        <li>
            <strong>checked</strong>: state of each option (checked or unchecked)
        </li>
    </ul>
</div>
