<div id="chips-combobox-overview">
    <h1>Chips Combobox Component</h1>
    
    <p>
        The chips-combobox is a composite component that combines and implements <a href="/component/combobox">combobox</a> and <a href="/component/chip">chip</a>. It is responsible for creating and managing chip components. It allows the searching of existing selection options and manages additions/removals of chips. The search/selection follows the combobox pattern.
    </p>
</div>
