<div id="select-overview">
    <h1>Select Component</h1>
    <p class="component-subtitle">A control for storing single-select or multi-select form data.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/select-list-400.png" aria-hidden="true" />
    
    <p>
        A select allows the user to select one item from a list of options. A select is exactly the same as a normal HTML select (because it is one), but Skin's version uses a wrapper to style it.
    </p>
    <p>
        The purpose of a select is to collect form data; therefore a select should always be used in conjunction with a form, label and submit button. If you are not submitting form data, then a${" "}
        <a href="component/menu">
            menu
        </a>
         maybe a better choice.
    </p>
    
    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>select</strong>: the pattern as a whole, comprised of the following sub parts
        </li>
        <li>
            <strong>label</strong>: the labelling element or text for the control
        </li>
        <li>
            <strong>flyout</strong>: contains the full view of options
        </li>
        <li>
            <strong>options</strong>: each option available for selection
        </li>
        <li>
            <strong>multiple</strong>: boolean, indicating if multi-select is allowed
        </li>
    </ul>
</div>
