<div id="select-overview">
    <h1>Select Component</h1>
    
    <p>
        A select allows the user to select one item from a list of options. A select is exactly the same as a normal HTML select (because it is one), but Skin's version uses a wrapper to style it.
    </p>
    <p>
        The purpose of a select is to collect form data; therefore a select should always be used in conjunction with a form, label and submit button. If you are not submitting form data, then a${" "}
        <a href="component/menu">
            menu
        </a>
         maybe a better choice.
    </p>
</div>
