<div id="progress-spinner-overview">
    <h1>Progress Spinner Component</h1>
    
    <p>
        A progress-spinner animation is used to convey a busy or loading state.
    </p>
    <p>
        A progress-spinner is considered a critical graphic, therefore an
        <span class="highlight">
            img
        </span>
         role and
        <span class="highlight">
            aria-label
        </span>
         property are required.
    </p>
</div>
