import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Radio Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    Radio buttons
    <strong>must be</strong>
    grouped together and a group
    <strong>must contain</strong>
    at least two radio buttons.
  </p>
  <p>
    Each group of radio buttons
    <strong>must</strong>
    be labelled. Typically achieved with a
    <code>&lt;legend&gt;</code>
    tag.
  </p>
  <p>
    Each individual radio button
    <strong>must</strong>
    be labelled.
  </p>
  <p>
    Other types of interactive control (e.g. a textbox or checkbox)
    <strong>must not</strong>
    be nested between radio buttons.
  </p>
  <p>
    Radio buttons
    <strong>must</strong>
    be contained within a form element, and that form element
    <strong>must</strong>
    have a submit button.
  </p>
  <p>
    Toggling a radio button should not trigger a page reload, popup or any
    change of context until the related form is explicitly submitted by the
    user. If this kind of behaviour is required, please consider the
    <a href="components/switch">
      switch
    </a>
    pattern or a button-less
    <a href="components/menu">
      menu
    </a>
    .
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction design for keyboard, screen reader and
    pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    Tabbing into the group will set focus on the currently checked radio button.
    If no button is currently checked, focus will move to the first button or
    the last depending on whether TAB or SHIFT+TAB was used to enter the group.
  </p>
  <p>
    <strong>TAB</strong>
    and
    <strong>SHIFT+TAB</strong>
    will leave the radio button group.
  </p>
  <p>
    <strong>DOWN ARROW</strong>
    will focus and select the next button in group.
  </p>
  <p>
    <strong>UP ARROW</strong>
    will focus and select the previous button in the group.
  </p>
  <p>
    <strong>ENTER</strong>
    submits the form that the radio group belongs to.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Radio
    <strong>must</strong>
    be reachable with screen reader (even when disabled).
  </p>
  <p>
    Radio
    <strong>must</strong>
    be announced as “Radio”.
  </p>
  <p>
    Radio label
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Radio group label
    <strong>must</strong>
    be announced.
  </p>
  <p>
    Radio state
    <strong>must</strong>
    be announced (i.e. checked or unchecked).
  </p>
  <h3>Pointer</h3>
  <p>
    Clicking radio
    <strong>must</strong>
    toggle the checked state.
  </p>
  <p>
    Clicking radio label
    <strong>must</strong>
    toggle the checked state.
  </p>
  <h2>ARIA Reference</h2>
  <p>
    This section gives an overview of our use of ARIA, within the specific
    context of the radio pattern.
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-hidden</strong>
        </td>
        <td>
          Removes the presentational SVG element from the accessibility tree.
        </td>
      </tr>
    </tbody>
  </table>
</div>
