<div id="filter-input-overview">
  <h1>Filter Input Component</h1>
  <component-banner-img/>

  <p>
    The Filter Input component is an accessible, responsive component that
    allows users to filter (real-time with a visual list). The interactive
    portions require
    <code>JavaScript</code>
    , which needs to be implemented separately from the static component.
  </p>
</div>
