<div id="icon-overview">
  <component-banner-img/>

<p>
    The icon module is a bundle that provides full access to the entire range of
    eBay iconography via the
    <code>&lt;svg&gt;</code>
    and
    <code>&lt;use&gt;</code>
    tags.
  </p>
</div>
