<div id="carousel-overview">
    <h1>Carousel Component</h1>
    
    <p>
        Carousels display a list of thematically similar items in a scrolling, horizontal viewport. Items may be entirely static (e.g. an image), entirely interactive (e.g. button) or contain a mix of static and interactive elements (e.g. a heading, image and link).
    </p>
    
    <p>
        Items may be ungrouped and scrolled in a <em>continuous</em> manner, or grouped and scrolled via a <em>discrete</em> number of items.
    </p>
    
    <p>
        Two pagination buttons ('Previous' &amp; 'Next') will move to the previous slide or next slide respectively. Extra controls may allow access to <em>specific</em> slides (for examples, small pagination "dots" under the carousel).
    </p>
</div>
