<div id="filter-menu-overview">
    <h1>Filter Menu Component</h1>
    
    <p>
        A filter menu forms the basis of the
        <a href="component/filter-menu-button">
            filter-menu-button
        </a>
        ${" "}module; we provide it here as a standalone version in the case it might be opened or rendered via other means (in a dialog for example).
    </p>
</div>
