<div id="global-overview">
  <component-banner-img/>

<p>
    The global module defines the styles of any common page aspects, such as
    font family, font size, background color, text color and link states.
  </p>
</div>
