<div class="a11y-pattern-content">
  <h1>Mouse Hover on Static Elements</h1>
  <p>
    Do not add mouse hover behaviour to static text and icons. The behaviour
    will not be fully accessible to keyboard and screen reader users.
  </p>
  <p>
    To “workaround” this issue, a common mistake is for a developer to add
    tabindex=“0” to the static element in order to make it “keyboard
    accessible”; however the problem is that static elements have no implicit
    role that programmatically connects the element to the additional content or
    behaviour.
  </p>
  <p>
    The classic example is misuse of the tooltip pattern. Tooltips are used to
    provide information about
    <em>interactive</em>
    elements (such as buttons) - yet we often see designs that try to
    apply them to static text and icons.
  </p>
  <p>
    <strong>See also</strong>
    :
    <a href="accessibility/anti-patterns/tabindex-itis">
      Tabindex-itis
    </a>
  </p>
</div>
