<master-icons/>
<site-header/>
<div class="content page-grid-container">
    <div class="page-grid">
        <a11y-navrail/>
        <main>
            <breadcrumbs/>
            <${input.renderBody}/>
        </main>
    </div>
</div>
<site-footer/>
