import "prismjs";
client import "../main.js";
<style.scss>
    @use "prismjs/themes/prism-tomorrow.css";
    @use "@ebay/skin/src/sass/variables/variables";
    @use "@ebay/skin/src/sass/mixins/public/typography-mixins";
    @use "@ebay/skin/src/sass/mixins/public/utility-mixins";
    @use "../static/sass/pygments";
    @use "../static/sass/demo-colors";
    @use "../static/sass/page-grid";
    @use "../static/sass/color-schemes";
    @use "../static/sass/site-main";
    @use "@ebay/skin/src/sass/bundles/skin-headless";
    @use "@ebay/skin/src/tokens/evo-core";
    @use "@ebay/skin/src/tokens/evo-light-class";
    @use "@ebay/skin/src/tokens/evo-dark-class";
    @use "@ebay/skin/src/tokens/evo-live-light-class";
    @use "@ebay/skin/src/tokens/evo-live-dark-class";
</style>

<master-icons/>
<site-header/>
<div class="content page-grid-container">
    <div class="page-grid">
        <a11y-navrail/>
        <main>
            <breadcrumbs/>
            <${input.content}/>
        </main>
    </div>
</div>
<site-footer/>
