<main class="accessibility-landing-content">
  <h1>Accessibility Patterns and Guidelines</h1>

  <p>
    These accessibility guidelines and patterns will assist frontend developers
    in building accessible e-commerce websites and components.
  </p>
  <p>
    The patterns are${" "}
    <strong>not</strong>
    ${" "}to be confused with a visual design system, CSS framework or
    JavaScript library. Our patterns are instead intended to${" "}
    <em>complement</em>
    ${" "}those systems by acting as foundational accessibility guidance.
  </p>
  <p>
    These examples will assist the frontend developer with accessibility, but
    the source code is not considered to be final, production-ready code. Most
    examples leave additional steps; which typically will be any CSS styling and
    JavaScript behaviour that is not specifically related to core functionality
    or accessibility.
  </p>
  <p>This book is a living, work-in-progress document.${" "}</p>

  <h3>Pattern Philosophy</h3>
  <p>
    Each pattern follows a${" "}
    <a href="http://en.wikipedia.org/wiki/Progressive_enhancement">
      progressive enhancement
    </a>
    ${" "}strategy (where applicable), aims to conform to${" "}
    <a href="https://www.w3.org/TR/WCAG22/">
      WCAG 2.2
    </a>
    ${" "}Level AA, and for the most part builds on from the excellent guidance
    set out in the${" "}
    <a href="https://www.w3.org/WAI/ARIA/apg/">
      ARIA Authoring Practices Guide (APG)
    </a>
    ${" "}.
  </p>

  <h3>Pattern Organisation</h3>
  <p>There are four main groups of component-related patterns:</p>
  <ol>
    <li>Messaging</li>
    <li>Input</li>
    <li>Navigation</li>
    <li>Disclosure</li>
  </ol>
  <p>
    These groups spell out the${" "}
    <strong>MIND</strong>
    ${" "}acronym. If you ever wonder what group does a pattern fall into - then
    use your MIND!
  </p>
  <p>Three other important groups complement the above patterns:</p>
  <ul>
    <li>Structure</li>
    <li>Anti-Patterns</li>
    <li>Techniques</li>
  </ul>
  <p>
    We have not yet incorporated these three groups into any kind of clever or
    witty acronym (which is disappointing, I know).
  </p>

  <h3>Pattern Contents</h3>
  <p>Every completed pattern will include:</p>
  <ul>
    <li>Introduction</li>
    <li>Working examples</li>
    <li>Terminology</li>
    <li>Best practices</li>
    <li>Interaction design</li>
    <li>Developer guide</li>
    <li>ARIA Reference</li>
  </ul>
  <p>
    The docs also contains an appendix section with a list of ARIA Essentials,
    References, Utilities and FAQ.
  </p>

  <h3>Pattern Principles</h3>
  <p>
    There are 4 guiding principles of accessibility, collectively know as${" "}
    <strong>POUR</strong>
    ${" "}:
  </p>
  <ol>
    <li>
      <strong>P</strong>
      ${" "}erceivable: People experience content in different ways (sight,
      hearing, and touch). Content needs to be transferable into recognizable
      (or perceivable) formats.
    </li>
    <li>
      <strong>O</strong>
      ${" "}perable: Content needs to be navigable (or operable) by multiple
      methods—not just a mouse
    </li>
    <li>
      <strong>U</strong>
      ${" "}nderstandable: Web content needs to be understandable. Language
      should be simple and concise; functionality should be consistent and
      intuitive.
    </li>
    <li>
      <strong>R</strong>
      ${" "}obust: Create web content that works for all (or most!)
      technologies. This includes operating systems, browsers, and mobile
      devices.
    </li>
  </ol>

  <h3>Testing</h3>
  <p>Accessibility testing is performed with latest versions of:</p>
  <ul>
    <li>Chrome &amp; JAWS</li>
    <li>Firefox &amp; NVDA</li>
    <li>Safari &amp; VoiceOver</li>
  </ul>

  <h3>JavaScript Utilities</h3>
  <p>
    Much of the common accessibility logic in our MIND Pattern examples comes
    courtesy of${" "}
    <a href="https://github.com/makeup/makeup-js">
      MakeupJS
    </a>
    ${" "}- a suite of vanilla, headless UI JavaScript modules - tailored
    specifically for building accessible user interfaces in a frontend framework
    agnostic manner. For example, implementing a keyboard roving tab index or
    dialog window modality.
  </p>

  <h3>License</h3>
  <p>
    eBay MIND Patterns is released under the${" "}
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">
      CC-BY-SA 4.0 license
    </a>
    ${" "}.
  </p>
</main>
