import { getEnhancedComponentMetadata } from '../routes/component-utils.js';

$ const componentName = input.componentName;
$ const componentData = getEnhancedComponentMetadata(componentName) || {};
$ const versions = componentData.versions || {};
$ const designSystemUrl = componentData.primaryUrl;
$ const currentTab = $global.url.pathname.split("/")[3] || "overview";

$ const getAriaCurrentValue = (tabName) => {
    return currentTab === tabName ? "page" : undefined;
};
<div class="component-page">
    <div class="fake-tabs">
        <ul class="fake-tabs__items" role="tablist" aria-label="Component implementation tabs">
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`/component/${componentName}/` role="tab" aria-current=getAriaCurrentValue("overview")>Overview</a>
            </li>
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`/component/${componentName}/accessibility/` role="tab" aria-current=getAriaCurrentValue("accessibility")>A11y</a>
            </li>
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`/component/${componentName}/css/` role="tab" aria-current=getAriaCurrentValue("css")>CSS (${versions.cssVersion || 'N/A'})</a>
            </li>
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`/component/${componentName}/marko/` role="tab" aria-current=getAriaCurrentValue("marko")>Marko (${versions.markoVersion || 'N/A'})</a>
            </li>
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`/component/${componentName}/react/` role="tab" aria-current=getAriaCurrentValue("react")>React (${versions.reactVersion || 'N/A'})</a>
            </li>
            <li class="fake-tabs__item fake-tabs__items--large">
                <a href=`${designSystemUrl || "https://playbook.ebay.com/design-system/components/"}` target="_blank">
                    Design System
                    <svg class="icon icon--16" height="16" width="16" aria-hidden="true">
                        <use href="#icon-external-link-16" />
                    </svg>
                </a>
            </li>
        </ul>
        <div class="fake-tabs__content" role="tabpanel">
            <div class="fake-tabs__cell">
                <${input.renderBody}/>
            </div>
        </div>
    </div>
</div>
