<ul class="demo-flag-boxes">
    $ const flagObj = input.flag.flags;
    <for|flag| of=flagObj.list>
        <li class="demo-flag-box">
            <b>${flag.code}</b>
            <span role="img" aria-label=`${flag.name} flag` class=["fflag", `fflag--${flag.code}`, "ff-lg"]/>
            <span>${flag.name}</span>
        </li>
    </for>
</ul>
