<div id="number-input-overview">
    <h1>Number Input Component</h1>
    
    <p>
        The number input is a component that allows users to select a number from a range of values. It consists of an input field and two buttons (up and down) to increase or decrease the value.
    </p>
</div>
