<div id="number-input-overview">
    <h1>Number Input Component</h1>
    
    <p>
        The number input is a component that allows users to select a number from a range of values. It consists of an input field and two buttons (up and down) to increase or decrease the value.
    </p>
    
    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>Input field</strong>: The HTML input field with type="number"
        </li>
        <li>
            <strong>Increase & decrease buttons</strong>: increase or decrease the value by one
        </li>
        <li>
            <strong>Quantity-input</strong>: variant of pattern used in a shopping cart
        </li>
        <li>
            <strong>Delete button</strong>: shown in quantity-input variant only, when value reaches minimum
        </li>
    </ul>
</div>
