<div id="confirm-dialog-overview">
  <component-banner-img/>

  <p>
    The confirm dialog pattern is a specific type of
    <a href="components/lightbox-dialog">
      lightbox dialog
    </a>
    that gives a user the chance to confirm or cancel an action.
  </p>

  <p>
    The behaviour is similar to the JavaScript
    <code>window.confirm()</code>
    method.
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>Confirm Button</strong>
      : The button that explicitly confirms the action.
    </li>
    <li>
      <strong>Reject Button</strong>
      : The button that explicitly rejects/cancels the action.
    </li>
    <li>
      <strong>Close Button</strong>
      : The button that implicitly rejects/cancels the action. Usually an
      'X' in the top corner.
    </li>
    <li>
      <strong>Mask</strong>
      : The semi-opaque layer that sits between the dialog and the main
      page.
    </li>
  </ul>
</div>
