<div id="icon-button-overview">
  <component-banner-img/>

  <p>
    Use the
    <code>icon-btn</code>
    class (for buttons) or the
    <code>icon-link</code>
    class (for links) and any of the available
    <a href="components/icon">
      icons
    </a>
    for a borderless, actionable icon style.
  </p>
</div>
