<div id="split-button-overview">
    <h1>Split Button Component</h1>
    
    <p>
        A split button is a button broken into two seperately actionable portions: a common action (a${" "}
        <a href="component/button">
            button
        </a>
        ) at the start, and supplemental actions (a
        <a href="component/menu-button">
            menu button
        </a>
        ) at the end.
    </p>
    <p>
        Split buttons are for actions only, and should not be used for site navigation.
    </p>
</div>
