import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Menu Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    To avoid confusion with form-based checkboxes and radios (which have different behaviour), menuitem checkboxes and radios should be styled differently (e.g. with a tick).
  </p>
  <p>
    Remember, a menu is not a form control. Its purpose is
    <strong>not</strong>
    to store or submit data via form submission. A menu, like a button, is
    a mechanism to execute JavaScript, and therefore is 100% dependent on
    JavaScript.
  </p>
  <p>
    If you are concerned that the functionality of the menu must be available in
    a non-JavaScript state, then perhaps a menu is not the best choice. Consider
    form controls instead.
  </p>
  <p>
    Adding, modifying or deleting records (e.g. CRUD) could be considered
    critical functionality. Filtering and sorting search results could be
    considered non-critical.
  </p>
  <p>
    Selecting a command
    <em>should not</em>
    fully reload the page (use a
    <a href="accessibility/patterns/fake-menu-button">
      fake menu
    </a>
    instead).
  </p>
  <p>
    Selecting a command
    <strong>must</strong>
    perform a JavaScript action on the client (e.g. AJAX request then
    partial page re-render).
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction design for keyboard, screen reader &amp;
    pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    The menu itself does not receive focus; focus
    <strong>must</strong>
    go to the first item in the menu.
  </p>
  <p>
    <code>UP-ARROW</code>
    and
    <code>DOWN-ARROW</code>
    keys
    <strong>must</strong>
    navigate keyboard focus through commands via roving tabindex mechanism
    (skipping any that are disabled).
  </p>
  <p>
    If focus is on a command,
    <code>ENTER</code>
    or
    <code>SPACEBAR</code>
    keys
    <strong>must</strong>
    activate that command.
  </p>
  <p>
    <code>TAB</code>
    key must move keyboard focus off menu, and onto next interactive
    element in the page.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Commands
    <strong>must</strong>
    be announced as “menu item”, “menu item radio” or “menu item checkbox”
    role.
  </p>
  <p>
    Checkbox and radio command state
    <strong>must</strong>
    be announced as checked or unchecked.
  </p>
  <p>Disabled commands must be announced as disabled.</p>
  <h3>Pointer</h3>
  <p>
    Clicking any menu item
    <strong>must</strong>
    activate that command.
  </p>
  <h2>ARIA Reference</h2>
  <p>
    This section gives an overview of our use of ARIA, within the specific
    context of the menu pattern.
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>role=menu</strong>
        </td>
        <td>
          Informs assistive technology that this is a menu containing menuitems,
          menuitemradios or menuitemcheckboxes.
        </td>
      </tr>
      <tr>
        <td>
          <strong>role=presentation</strong>
        </td>
        <td>
          Informs assistive technology that the divs around groups of menu items
          are for presentation purposes only and should not be added to
          accessibility tree.
        </td>
      </tr>
      <tr>
        <td>
          <strong>role=menuitem</strong>
        </td>
        <td>
          Informs assistive technology that this menu command has button
          behaviour.
        </td>
      </tr>
      <tr>
        <td>
          <strong>role=menuitemradio</strong>
        </td>
        <td>
          Informs assistive technology that this menu command has radio button
          behaviour.
        </td>
      </tr>
      <tr>
        <td>
          <strong>role=menuitemcheckbox</strong>
        </td>
        <td>
          Informs assistive technology that this menu command has checkbox
          behaviour.
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-checked</strong>
        </td>
        <td>
          Informs assistive technology whether the menuitemradio or
          menuitemcheckbox is checked or not. Notice we do not use
          aria-selected.
        </td>
      </tr>
    </tbody>
  </table>
</div>
