<div id="typography-overview">
  <component-banner-img/>

<p>
    Static sites without access to the SCSS preprocessor can leverage the Skin
    type ramp via the typography module.
  </p>
  <p>
    Giant text and large text are always bold. Other entries in the type ramp
    can be set to
    <code>bold-text</code>
    or
    <code>secondary-text</code>
    using the relevant class.
  </p>
</div>
