<div id="typography-overview">
    <h1>Typography Component</h1>
    
    <p>
        Static sites without access to the SCSS preprocessor can leverage the Skin type ramp via the typography module.
    </p>
    <p>
        Giant text and large text are always bold. Other entries in the type ramp can be set to${" "}
        <span class="highlight">
            bold-text
        </span>
         or
        <span class="highlight">
            secondary-text
        </span>
         using the relevant class.
    </p>
</div>
