<div id="infotip-overview">
  <component-banner-img/>

  <p>
    Infotip Button is a click-activated
    <a href="components/popover">
      popover
    </a>
    . It discloses supplementary or advisory content about an existing
    onscreen element or region.
  </p>

  <p>
    Thematically, you can think of the infotip content fulfilling the same role
    as footnotes in a page.
  </p>

  <p>
    Infotip Button is a composite pattern containing a button and an overlay.
    The button toggles the visibility of the overlay. The overlay contains the
    help content.
  </p>

  <h2>Terminology</h2>
  <p>We use the following terminology when discussing this pattern.</p>
  <ul>
    <li>
      <strong>infotip</strong>
      : the pattern as a whole, comprised of the following sub-parts
    </li>
    <li>
      <strong>button</strong>
      : the button that hosts the overlay
    </li>
    <li>
      <strong>overlay/bubble</strong>
      : the overlay that contains the tip
    </li>
    <li>
      <strong>pointer</strong>
      : the visual affordance that "points" to the button
    </li>
    <li>
      <strong>tip</strong>
      : the tip content
    </li>
    <li>
      <strong>expanded</strong>
      : an infotip with expanded overlay
    </li>
    <li>
      <strong>collapsed</strong>
      : an infotip with collapsed overlay
    </li>
  </ul>
</div>
