import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Infotip Accessibility</h1>
  <h2>Best Practices</h2>
  <p>
    On desktop screens, overlay
    <strong>must not</strong>
    be modal. On smaller screens, the overlay may be implemented as a
    modal dialog.
  </p>
  <p>
    Button
    <strong>must not</strong>
    have overlay content duplicated within an
    <code>aria-describedby</code>
    attribute.
  </p>
  <p>
    Button
    <strong>must not</strong>
    have
    <code>aria-haspopup</code>
    attribute. Despite the name of this property, it is actually intended
    specifically for a
    <a href="components/menu">
      Menu
    </a>
    .
  </p>
  <p>
    The infotip
    <strong>must</strong>
    remain expanded until explicitly closed with the close button
    <em>or</em>
    programmatically closed by another component (e.g. when another nearby
    infotip opens).
  </p>
  <p>
    Users sometimes have a need to reference the infotip content whilst working
    on a task (e.g. filling out a form field), this is why we must not collapse
    the infotip on mouseout, blur or page click.
  </p>
  <p>
    Overlay
    <em>should</em>
    be hidden by default. If you wish to display a tip on page load,
    consider the
    <a href="components/tourtip">
      Tourtip
    </a>
    .
  </p>
  <p>
    Overlay content
    <em>should</em>
    be no more than one or two paragraphs in length. For lengthier
    content, consider instead using a
    <a href="components/lightbox-dialog">
      dialog
    </a>
    .
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides the pattern interaction design for keyboard, screen
    reader &amp; pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    Button
    <strong>must</strong>
    be keyboard focusable.
  </p>
  <p>
    Activating button
    <strong>must</strong>
    toggle the expanded state of the overlay. Keyboard focus should remain
    on the button.
  </p>
  <p>
    If overlay contains focusable elements, tab order
    <strong>must</strong>
    flow directly from button to first of those elements.
  </p>
  <p>
    If the overlay has no focusable elements, tab order
    <strong>must</strong>
    flow directly to next page control.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Button purpose
    <strong>must</strong>
    be announced (e.g. 'Help).
  </p>
  <p>
    Button state
    <strong>must</strong>
    be announced (i.e. expanded or collapsed).
  </p>
  <p>
    Reading order
    <strong>must</strong>
    flow directly from button into overlay.
  </p>
  <p>
    Expanded state
    <strong>must</strong>
    be announced after expanded.
  </p>
  <h3>Pointer</h3>
  <p>
    Invoking button
    <strong>must</strong>
    toggle the expanded state of the overlay.
  </p>
  <h2>Utilities</h2>
  <p>
    The following JavaScript modules may assist you in creation of an infotip
    pattern:
  </p>
  <ul>
    <li>
      <a href="https://github.com/makeup/makeup-js/tree/master/packages/makeup-expander">
        makeup-expander
      </a>
      : handles some basic accessibility for an element that expands and
      collapses another element.
    </li>
  </ul>
  <h2>ARIA Reference</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-live</strong>
        </td>
        <td>
          Informs assistive technology to announce the overlay contents whenever
          the button changes from collapsed to expanded (optional/opinionated).
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-label</strong>
        </td>
        <td>Provides an accessible button label/name for the icon button.</td>
      </tr>
      <tr>
        <td>
          <strong>aria-expanded</strong>
        </td>
        <td>
          Informs assistive technology of the expanded state of the button.
        </td>
      </tr>
    </tbody>
  </table>
  <h2>FAQ</h2>
  <h3>What is the difference between Infotip Button and Tooltip?</h3>
  <p>
    A
    <a href="components/tooltip">
      tooltip
    </a>
    provides a tip about the
    <em>primary</em>
    action of an interactive element (typically a button). For example,
    the trashcan icon button in your mail application. The tooltip can be
    thought of as the
    <em>secondary</em>
    action of the button. It is always triggered by focus and hover.
  </p>
  <p>
    An infotip button provides a tip about a nearby
    <em>static</em>
    element or content. It is always triggered by click.
  </p>
  <h3>This is different to the way BootStrap ‘Popovers’ work. Why?</h3>
  <p>
    The fundamental difference is that the
    <a href="http://getbootstrap.com/javascript/#popovers">
      Bootstrap Popovers
    </a>
    get their content from a data attribute, whereas the pattern presented
    here gets it’s content from an actual element. This allows us to more easily
    place HTML such as hyperlinks &amp; images inside of our popovers and,
    unlike Bootstrap, the popover content
    <em>can</em>
    be fully accessible
    <em>without</em>
    JavaScript (assuming you choose to make the content visible by
    default).
  </p>
</div>
