<main class="accessibility-landing-content">
  <h1>Techniques</h1>
  <ul>
    <li>
      <a href="accessibility/techniques/active-descendant">
        Active Descendant
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/alternative-text">
        Alternative Text Accessibility
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/ambiguous-label">
        Ambiguous Label
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/background-icon">
        Background Icon Accessibility
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/keyboard-trap">
        Keyboard Trap
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/live-region">
        Live Region
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/offscreen-text">
        Offscreen Text
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/roving-tabindex">
        Roving Tabindex
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/skip-to-main-content">
        Skip to Main Content Accessibility
      </a>
    </li>
  </ul>
</main>
