<div class="a11y-pattern-content">
  <h1>Keyboard Trap</h1>
  <p>
    A keyboard trap can be implemented to prevent keyboard focus from leaving
    the confines of a UI control. Most commonly used in modal dialogs.
  </p>
  <p>
    We are working on this content, in the meantime you can reference the
    <a href="https://github.com/makeup/makeup-js/tree/master/packages/makeup-keyboard-trap">
      makeup-keyboard-trap
    </a>
    module on GitHub &amp; NPM.
  </p>
</div>
