<div id="listbox-button-overview">
    <h1>Listbox Button Component</h1>
    
    <p>
        A listbox button is intended for use as a custom implementation of the native HTML select element's${" "}
        <em>single</em>
         -select use case.
    </p>
    <p>
        Because a button element does not store form data, its value will not be submitted along with other form data without the assistance of JavaScript.
    </p>
</div>
