@use "@ebay/design-tokens/dist/mixins/live-light" as tokens;
@media (prefers-color-scheme: light) {
    :root {
        @include tokens.live-light;

        --color-data-viz-chart-primary: var(--color-blue-500);
        --color-data-viz-chart-secondary: var(--color-blue-700);
        --color-data-viz-chart-tertiary-background: var(--color-indigo-200);
        --color-data-viz-chart-tertiary-stroke: var(--color-blue-500);
        --color-data-viz-chart-quaternary-background: var(--color-teal-300);
        --color-data-viz-chart-quaternary-stroke: var(--color-teal-600);
        --color-data-viz-chart-quinary-background: var(--color-teal-200);
        --color-data-viz-chart-quinary-stroke: var(--color-teal-600);
        --state-layer-neutral: rgb(var(--color-neutral-900-rgb), 0);
        --state-layer-neutral-on-strong: rgb(var(--color-neutral-100-rgb), 0);
    }
}
