<div id="filter-input-overview">
  <component-banner-img/>

  <p>
    The filter input component is an accessible, responsive component intended for filter-as-you-type behaviour. The filtered results are <strong>not</strong> intended to appear in a dropdown, for that behaviour please consider a combobox instead.
  </p>
</div>
