<style.scss>
  @use "@ebay/skin/src/sass/variables/variables";
  @use "@ebay/skin/src/sass/mixins/public/typography-mixins";
  @use "@ebay/skin/src/sass/mixins/public/utility-mixins";
  @use "../../sass/pygments";
  @use "../../sass/demo-colors";
  @use "../../sass/page-grid";
  @use "../../sass/color-schemes";
  @use "@ebay/skin/src/sass/bundles/skin-headless";
  @use "@ebay/skin/src/tokens/evo-core";
  @use "@ebay/skin/src/tokens/evo-light-class";
  @use "@ebay/skin/src/tokens/evo-dark-class";
  @use "@ebay/skin/src/tokens/evo-live-light-class";
  @use "@ebay/skin/src/tokens/evo-live-dark-class";

  @use "../../sass/site-main";
  @use "../../sass/landing-page";
</style>

<site-header/>
<main class="landing-page">
  <${input.content}/>
</main>
<site-footer/>
