import {urls} from "../../data";
<style>
  .page-sitemap {
    nav {
      margin-bottom: var(--spacing-400);
    }

    li {
      margin-bottom: var(--spacing-200);
    }

    a.nav-link {
      text-decoration: underline;
    }
  }

  .site-nav {
    display: none;
  }

  main {
    grid-area: 1 / 1 / span 1 / span 16;
  }
</style>

<div class="page-grid-container">

  <div class="page-sitemap">
    <h1>Sitemap</h1>

    <h2 id="sitemap-pages">
      Main Pages
    </h2>

    <nav aria-labelledby="sitemap-pages">
      <ul>
        <li>
          <a
            href="https://github.com/eBay/evo-web/tree/main/packages/skin">
            Repo
          </a>
        </li>
        <li>
          <a href="archive/index.html">
            Evo CSS Archive
          </a>
        </li>
        <li>
          Storybooks
          <ul>
            <li>
              <a href="skin/storybook/">
                Evo CSS Storybook
              </a>
            </li>
            <li>
              <a href="ebayui-core/">
                Evo Marko Storybook
              </a>
            </li>
            <li>
              <a href="ebayui-core-react/main/">
                Evo React Storybook
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="evo-css-components">
            Evo CSS Components
          </a>
        </li>
        <li>
          <a href="evo-marko-components">
            Evo Marko Components
          </a>
        </li>
        <li>
          <a href="evo-react-components">
            Evo React Components
          </a>
        </li>
      </ul>
    </nav>

    <h2 id="sitemap-components">
      Components
    </h2>

    <nav aria-labelledby="sitemap-components">
      <ul>
        <components-list/>
      </ul>
    </nav>

    <h2 id="sitemap-guides">
      Guides
    </h2>

    <nav aria-labelledby="sitemap-guides">
      <ul>
        <li>
          <a href=`${urls.guides}/page-grid`>
            Page Grid Use Guide
          </a>
        </li>
        <li>
          <a href=`${urls.guides}/skeleton`>
            Skeleton Use Guide
          </a>
        </li>
        <li>
          <a href=`${urls.guides}/animation`>
            Animation Guide
          </a>
        </li>
      </ul>
    </nav>

    <h2 id="sitemap-components">
      Accessibility Standards and Patterns
    </h2>

    <nav aria-labelledby="sitemap-components">
      <ul>
        <a11y-docs-list/>
      </ul>
    </nav>
  </div>
</div>
