client import "./css-demo-dialog";

<div id="dialog">
  <section-header/>
  <h3>Dialog base element</h3>
  <p>
    ${" "}The dialog element uses the native html ${"<dialog>"} element in order
    to satisfy all the accessibility requirements.${" "}
  </p>
  <p>This element is styled to look like a custom inplementation.${" "}</p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog
    </button>
    <component-demo component="dialog" variant="base"/>
  </div>

  <h3 id="dialog-prev">
    Previous button in header Dialog
  </h3>
  <p>
    If you want to add a previous button to the dialog, add the icon button
    before the dialog heading tag.
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog
    </button>
    <component-demo component="dialog" variant="basePrev"/>
  </div>

  <h3 id="dialog-wide">
    Wide Dialog
  </h3>
  <p>
    To have a wider dialog add${" "}
    <code>dialog--wide</code>
    ${" "}to the dialog
  </p>
  <p>
    On small screens, a wide dialog will span almost the entire screen. This is
    the suggeested replacement for fullscreen dialog
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog
    </button>
    <component-demo component="dialog" variant="wide"/>
  </div>

  <h3 id="dialog-narrow">
    Narrow Dialog
  </h3>
  <p>
    To have a thinner dialog add${" "}
    <code>dialog--narrow</code>
    ${" "}to the dialog
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog
    </button>
    <component-demo component="dialog" variant="narrow"/>
  </div>

  <h3 id="dialog-large">
    Large Dialog
  </h3>
  <p>
    To have a large dialog add${" "}
    <code>dialog--large</code>
    ${" "}to the dialog
  </p>
  <p>
    On small screens, a large dialog will span almost the entire screen. This is
    the suggeested replacement for fullscreen dialog
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog
    </button>
    <component-demo component="dialog" variant="large"/>
  </div>

  <h3 id="dialog-footer">
    Footer in Dialog
  </h3>
  <p>
    Call to action buttons can be placed in an optional footer section. They
    will be aligned to the end of the horizontal axis by default.
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Dialog with Footer
    </button>
    <component-demo component="dialog" variant="baseWithFooter"/>
  </div>

  <h3 id="dialog-expressive">
    Expressive Dialog
  </h3>
  <p>
    An image may be added to the dialog header for a more expressive experience.
    Image will be cropped to a hardcoded height as per design standards.
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Expressive Dialog
    </button>
    <component-demo component="dialog" variant="expressiveBase"/>
  </div>

  <h3 id="dialog-expressive-prev">
    Expressive Dialog with Previous Button
  </h3>
  <p>
    When a previous button is included in an expressive dialog, both the previous
    and close buttons will overlap the banner image.
  </p>

  <div class="demo__dialog-wrapper">
    <button class="btn btn--primary demo__dialog-trigger" type="button">
      Open Expressive Dialog
    </button>
    <component-demo component="dialog" variant="expressivePrev"/>
  </div>
</div>
