<div id="confirm-dialog-overview">
    <h1>Confirm Dialog Component</h1>
    
    <p>
        The confirm dialog pattern is a specific type of <a href="/component/lightbox-dialog">lightbox dialog</a> that gives a user the chance to confirm or cancel an action.
    </p>
    
    <p>
        The behaviour is similar to the JavaScript <code>window.confirm()</code> method.
    </p>
</div>
