<div id="phone-input-overview">
    <h1>Phone Input Component</h1>
    
    <p>
        The phone input pattern is a progressive enhancement of a textbox that allows users to select the country associated with their phone number.
    </p>
</div>
