<div id="signal-overview">
    <h1>Signal Component</h1>
    
    <p>
        Signals are data-backed recommendations to help customers make more informed decisions.
    </p>
    <p>
        There are four signal types, each with its own corresponding modifier class: trustworthy, recent, time-sensitive &amp; neutral.
    </p>
</div>
