<div class="a11y-pattern-content">
  <h1>Accessibility Pattern Template</h1>
  <h2>Best Practices</h2>
  <p>Valid and invalid use cases of the pattern.</p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction design for keyboard, screen reader and
    pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>List keyboard operations.</p>
  <h3>Screen Reader</h3>
  <p>List screen reader semantics.</p>
  <h3>Pointer</h3>
  <p>List pointer operations.</p>
  <h2>ARIA Reference</h2>
  <p>
    Highlight any ARIA roles, properties or attributes used in this pattern.
  </p>
</div>
