<div class="a11y-pattern-content">
  <h1>Legacy Patterns</h1>
  <p>
    Fullscreen-Dialog and Drawer-Dialog became legacy patterns in 2024 as we
    decided to support only fully responsive web patterns.
  </p>
</div>
