<div class="a11y-pattern-content">
  <h1>References</h1>
  <p>In the making of this book, the following material was referenced:</p>
  <ul>
    <li>
      <a href="http://www.w3.org/html/wg/drafts/html/master/">
        W3C: HTML5 Spec
      </a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/wai-aria/">
        W3C: ARIA Spec
      </a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/wai-aria-practices/#aria_ex">
        W3C: WAI-ARIA 1.0 Design Patterns
      </a>
    </li>
    <li>
      <a href="http://www.w3.org/TR/aria-in-html/">
        W3C: ARIA in HTML
      </a>
    </li>
    <li>
      <a href="http://www.w3.org/WAI/PF/aria-practices/">
        W3C: ARIA Authoring Practices
      </a>
    </li>
  </ul>
</div>
