import { getMetadataFromUrl } from "../../data";
import styles from "./style.module.scss";

<const/{ dsComponent, properName }=getMetadataFromUrl($global.url.pathname)>
export interface Input {
  header?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}
<div class=styles.header>
  <${input.header || "h1"}>${properName} Component</>

  <span class=styles.link>
    <a
      href=`${dsComponent?.url || "https://playbook.ebay.com/design-system/components/"}`
      target="_blank">
      <svg class="icon icon--16" height="16" width="16" aria-hidden="true">
        <use href="#icon-external-link-16"/>
      </svg>
      ${" "}Playbook
    </a>
  </span>
</div>
