<div id="inline-notice-overview">
  <component-banner-img/>

  <p>
    The purpose of a notice is to convey the next course of action for a task or
    flow. The notice must be clear and concise, with minimum cognitive load.
  </p>
  <p>
    An inline-level notice provides tips, guidance and feedback on individual
    elements and form controls.
  </p>
  <p>
    An inline-level notice may have a status of general (default), confirmation,
    information or attention.
  </p>
</div>
