<main class="accessibility-landing-content">
  <h1>Anti-Patterns</h1>
  <p>
    This section documents common accessibility anti-patterns that should be
    avoided when building web applications.
  </p>
  <ul>
    <li>
      <a href="accessibility/anti-patterns/disabling-pinch-to-zoom">
        Disabling Pinch-to-Zoom
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/hand-cursor-on-buttons">
        Hand Cursor on Buttons
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/javascript-href">
        JavaScript HREF
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/layout-table">
        Layout Table
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/non-interactive-hover">
        Mouse Hover on Static Elements
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/open-new-window">
        Open New Window
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/setting-focus-on-page-load">
        Setting Focus on Page Load
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/tabindex-itis">
        Tabindex-itis
      </a>
    </li>
    <li>
      <a href="accessibility/anti-patterns/title-tooltip">
        Title Tooltip
      </a>
    </li>
  </ul>
</main>
