<div id="menu-button-overview">
    <h1>Menu Button Component</h1>
    
    <p>
        A menu button follows the principal of${" "}
        <a href="https://en.wikipedia.org/wiki/Progressive_disclosure">
            progressive disclosure
        </a>
        ${" "}, it keeps secondary commands hidden from view until needed.
    </p>
    <p>
        Selecting a menu item command should update the page${" "}
        <strong>without</strong>
        ${" "}a full page reload (i.e. acting similar to buttons, checkboxes or
        radios). If a full page load is required instead (i.e. acting like
        links), please refer to the${" "}
        <a href="component/menu-button/#menu-button-fake">
            fake menu button
        </a>
        ${" "}.
    </p>
</div>
