<div id="menu-button-overview">
    <h1>Menu Button Component</h1>
    <p class="component-subtitle">A button that expands to reveal a menu within a popover.</p>
    <component-banner-img />

    <p>
        A menu button follows the principal of${" "}
        <a href="https://en.wikipedia.org/wiki/Progressive_disclosure">
            progressive disclosure
        </a>
        ${" "}, it keeps secondary commands hidden from view until needed.
    </p>
    <p>
        Selecting a menu item command should update the page${" "}
        <strong>without</strong>
        ${" "}a full page reload (i.e. acting similar to buttons, checkboxes or
        radios). If a full page load is required instead (i.e. acting like
        links), please refer to the${" "}
        <a href="component/menu-button/#menu-button-fake">
            fake menu button
        </a>
        ${" "}.
    </p>

    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>widget</strong>: the pattern as a whole, comprising the parts listed below
        </li>
        <li>
            <strong>button</strong>: expands or collapses the overlay
        </li>
        <li>
            <strong>collapsed/expanded</strong>: state of overlay
        </li>
        <li>
            <strong>overlay</strong>: contains menu
        </li>
        <li>
            <strong>menu</strong>: a menu that contains commands
        </li>
        <li>
            <strong>command</strong>: individual menu item, menu item checkbox or menu item radio commands
        </li>
    </ul>
</div>
