<div id="floating-label-overview">
    <h1>Floating Label Component</h1>
    
    <p>
        Floating labels appear to sit
        <em>inside</em>
         the textbox when it has no value or focus, and sit
        <em>above</em>
         the textbox otherwise.
    </p>
</div>
