<div id="svg-overview">
  <component-banner-img/>

  <p>
    The SVG module imports an
    <a href="https://github.com/eBay/evo-web/tree/main/packages/skin/src/svg">
      external SVG source
    </a>
    containing all symbol definitions.
  </p>
</div>
