<div id="svg">
  <h2>
    <span class="secondary-text">
      @ebay/skin/
    </span>
    ${" "}svg
  </h2>
</div>
export const metadata = {
  component: "svg",
  "ds-component": {
    version: "1.0",
  },
};
