<div class="a11y-pattern-content">
  <h1>Input Dialog</h1>
  <h2>Introduction</h2>
  <p>
    The input dialog pattern is a specific type of
    <a href="components/lightbox-dialog">
      lightbox dialog
    </a>
    that prompts a user for their input.
  </p>
  <p>
    The behaviour is similar to JavaScript’s
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt">
      window.prompt()
    </a>
    method.
  </p>
  <h2>Best Practices</h2>
  <p>The section is not yet available.</p>
  <h2>Interaction Design</h2>
  <p>
    The input dialog inherits all base behaviour and interaction design from the
    modal
    <a href="components/lightbox-dialog">
      lightbox dialog
    </a>
    pattern. It’s unique characteristic is that the input field should
    receive keyboard focus (e.g. “Your Max Bid” in the screenshot above).
  </p>
</div>
