<div class="a11y-pattern-content">
  <h1>Popover</h1>
  <h2>Introduction</h2>
  <p>
    Popover is a composite pattern containing an element (typically a button)
    that
    <em>hosts</em>
    a non-modal overlay element. The overlay discloses contextually
    relevant secondary content and/or actions.
  </p>
  <p>Popover forms the basis of the following composite patterns:</p>
  <ul>
    <li>
      <a href="components/combobox">
        Comboxbox
      </a>
    </li>
    <li>
      <a href="accessibility/patterns/fake-menu-button">
        Fake Menu Button
      </a>
    </li>
    <li>
      <a href="components/infotip">
        Infotip Button
      </a>
    </li>
    <li>
      <a href="components/listbox-button">
        Listbox Button
      </a>
    </li>
    <li>
      <a href="components/menu-button">
        Menu Button
      </a>
    </li>
    <li>
      <a href="components/tooltip">
        Tooltip
      </a>
    </li>
    <li>
      <a href="components/tourtip">
        Tourtip
      </a>
    </li>
  </ul>
  <p>
    The pattern discussed here in this document is a more generic use-case,
    where the popover may contain
    <em>any</em>
    kind of content.
  </p>
  <h3>Best Practices</h3>
  <p>
    The overlay can hold any kind of content, but for an overlay that demands
    user acknowledgement or input, or with additional rich interactions,
    consider using a
    <a href="components/lightbox-dialog">
      dialog
    </a>
    instead.
  </p>
  <p>
    The overlay expands or collapses via any combination of the following
    events:
  </p>
  <ul>
    <li>
      <strong>Click</strong>
      event of host
    </li>
    <li>
      <strong>Hover</strong>
      event of host (discouraged)
    </li>
    <li>
      <strong>Focus</strong>
      event of host (discouraged)
    </li>
    <li>
      <strong>System</strong>
      event at page load or after some arbitrary time
    </li>
  </ul>
  <p>
    A link
    <strong>must not</strong>
    be the host of a click-activated popover. Clicking the host should
    always navigate to the URL in this case.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    be non-modal (i.e. must not trap keyboard focus or mask page
    background). For modal behaviour please consider the
    <a href="components/lightbox-dialog">
      dialog
    </a>
    pattern instead.
  </p>
  <p>
    Overlay
    <strong>must</strong>
    be placed directly after the host in DOM. This ensures natural tab
    order and reading order without JavaScript.
  </p>
  <p>
    <em>If</em>
    system-activated (e.g. a
    <a href="components/tourtip">
      Tourtip
    </a>
    ), overlay
    <strong>must</strong>
    remain onscreen until explicitly dismissed by the user.
  </p>
  <p>
    <em>If</em>
    focus-activated, overlay
    <em>should</em>

    <em>not</em>
    contain long blocks of interactive elements. This measure prevents
    keyboard users from having to tab through secondary or tertiary content
    inside of the overlay.
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction guidelines for keyboard, screen reader,
    and pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    Tab order
    <strong>must</strong>
    flow directly from host into first focusable element inside overlay.
    If the overlay has no focusable element, tab order flows to next page
    control instead.
  </p>
  <p>
    <em>If</em>
    not system-activated, host
    <strong>must</strong>
    be keyboard focus-able.
  </p>
  <p>
    <em>If</em>
    click-activated, popover
    <strong>must</strong>
    expand overlay when host receives keyboard click.
  </p>
  <p>
    <em>If</em>
    focus-activated (discouraged), popover
    <strong>must</strong>
    expand when host receives keyboard focus.
  </p>
  <p>
    <em>If</em>
    focus-activated (discouraged), popover
    <strong>must</strong>
    collapse when flyout loses keyboard focus.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Reading order
    <strong>must</strong>
    flow directly from host into overlay.
  </p>
  <p>Overlay must not be conveyed as a dialog.</p>
  <p>
    <em>If</em>
    system-activated
    <em>and</em>
    high-priority, screen reader
    <strong>must</strong>
    announce presence and/or content overlay.
  </p>
  <h3>Mouse</h3>
  <p>
    <em>If</em>
    hover-activated (discouraged), popover
    <strong>must</strong>
    expand when host receives mouse hover.
  </p>
  <p>
    <em>If</em>
    hover-activated (discouraged), popover
    <strong>must</strong>
    collapse when mouse leaves flyout.
  </p>
  <p>
    <em>If</em>
    click-activated, popover
    <strong>must</strong>
    expand when host receives mouse click.
  </p>
  <p>
    <em>If</em>
    system-activated, popover
    <strong>must</strong>
    collapse when clicking close button.
  </p>
  <h3>Touch</h3>
  <p>
    Hover behaviour can be problematic or impossible for touch. You may wish to
    consider using the
    <a href="components/infotip">
      Infotip
    </a>
    pattern instead.
  </p>
  <p>
    <em>If</em>
    click-activated, popover
    <strong>must</strong>
    expand when host receives tap.
  </p>
  <p>
    <em>if</em>
    system-activated, popover
    <strong>must</strong>
    close when tapping close button.
  </p>
  <h2>ARIA Reference</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-expanded</strong>
        </td>
        <td>
          This boolean attribute signifies the expanded state of the host
          element.
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-live</strong>
        </td>
        <td>
          If wishing to announce the content of the popover when it expands, set
          aria live to polite or assertive.
        </td>
      </tr>
    </tbody>
  </table>
  <h2>FAQ</h2>
  <h3>Didn’t this pattern used to be called Flyout?</h3>
  <p>
    Yes it did! In most practical senses, the term flyout is synonomous with
    popover; they are both used to describe transient (i.e. non-modal) overlays
    of content.
  </p>
</div>
