<div class="a11y-pattern-content">
  <h1>Known Issues</h1>
  <ul>
    <li>
      <a href="https://issues.chromium.org/issues/40260928">
        https://issues.chromium.org/issues/40260928
      </a>
    </li>
    <li>
      <a href="https://issues.chromium.org/issues/40945405">
        https://issues.chromium.org/issues/40945405
      </a>
    </li>
  </ul>
</div>
