
<div id="snackbar-dialog-overview">
    <h1>Snackbar Dialog Component</h1>
    <p class="component-subtitle">A snackbar is a non-modal dialog that appears in response to a lightweight user action.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/snackbar-400.png" aria-hidden="true" />

    <p>
        A snackbar is a non-modal dialog that appears in response to a
        lightweight user action. It dissapears automatically after a minimum of
        6 seconds.
    </p>
    <p>
        The display of the snackbar should be toggled using the${" "}
        <code>
            hidden
        </code>
        ${" "}property. Please refer to the${" "}
        <a href="guides/animation/#dialog-transitions">
            Dialog Transitions
        </a>
        ${" "}section for information on how to correctly trigger a CSS
        transition from a hidden state.
    </p>
</div>
