<div class="a11y-pattern-content">
  <h1>Active Descendant</h1>
  <p>
    Active descendant is a technique whereby keyboard focus remains on an
    element (usually a textbox) but has the
    <em>appearance</em>
    of moving elsewhere when using the arrow keys. This technique is
    useful so that users can continue to input text, whilst also controlling
    another element (usually a grid or listbox).
  </p>
  <p>
    Compare this to a
    <a href="accessibility/techniques/roving-tabindex">
      roving tabindex
    </a>
    technique, where focus is explicitly moved to a new element each time
    an ARROW key is pressed.
  </p>
  <p>
    Patterns that utilize the active descendant technique are: grid and
    <a href="components/combobox">
      combobox
    </a>
  </p>
</div>
