<div class="a11y-pattern-content">
  <h1>Offscreen Text</h1>
  <p>
    Offscreen text (also known as “screen reader text”, “visually-hidden text”
    or “clipped text”) allows us to add additional context or helpful
    information about an element. This content is not visible on the screen; it
    is only visible to screen readers.
  </p>
  <p>
    <strong>NOTE</strong>
    :
    <code>aria-label</code>
    can also achieve the same result as offscreen text in certain
    situations (e.g. on links and buttons).
  </p>
  <p>Offscreen text helps in the following situations:</p>
  <ul>
    <li>
      <a href="accessibility/techniques/offscreen-text#link-opens-in-new-window-or-tab">
        Link opens in new window or tab
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/offscreen-text#link-text-without-nearby-context">
        Link text without nearby context
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/offscreen-text#ambiguous-link-text">
        Ambiguous link text
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/offscreen-text#offscreen-headings">
        Offscreen headings
      </a>
    </li>
    <li>
      <a href="accessibility/techniques/offscreen-text#strikethrough-price">
        Strikethrough price
      </a>
    </li>
  </ul>
  <p>
    All of the examples in this page make use of the
    <code>.clipped</code>
    class to create offscreen text.
  </p>
  <pre><code class="language-css">/* clip element visibility, making it accessible to screen reader only */
.clipped {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
</code></pre>
  <p>
    All scenarios also include an additional
    <code>aria-label</code>
    example.
  </p>
  <p>
    <strong>IMPORTANT</strong>
    : When adding offscreen text to any kind of label (e.g. the inner text
    of a button, or the label of a textbox), aways
    <em>append</em>
    it after the visible text. The same rule applies when using
    <code>aria-label</code>
    - always ensure the beginning of the
    <code>aria-label</code>
    matches the visual label.
  </p>
  <h2 id="link-opens-in-new-window-or-tab">Link opens in new window or tab</h2>
  <p>
    Launching a new browser window can be a source of frustration for users of
    assistive technology. Offscreen text helps to set expectations in advance.
  </p>
  <pre><code class="language-html">&lt;a href=”http://www.ebay.com/help” target=”_blank”&gt;Help&lt;span class=”clipped&gt; - opens in new window or tab&lt;/span&gt;&lt;/a&gt;
</code></pre>
  <p>
    Usage of
    <code>aria-label</code>
    is also supported:
  </p>
  <pre><code>&lt;a href=”http://www.ebay.com/help” target=”_blank” aria-label=&quot;Help - opens in new window or tab&quot;&gt;Help&lt;/a&gt;
</code></pre>
  <h2 id="link-text-without-nearby-context">Link text without nearby context</h2>
  <p>
    A link whose context is difficult to find (e.g. no nearby text or heading),
    and can only be determined visually or with an unreasonable amount of manual
    effort. Offscreen text provides the context of the link in place.
  </p>
  <pre><code class="language-html">&lt;a href=&quot;http://www.ebay.com&quot;
  &gt;Buy it Now&lt;span class=&quot;”clipped”&quot;&gt; - iPhone 4&lt;/span&gt;&lt;/a
&gt;
</code></pre>
  <p>
    Usage of
    <code>aria-label</code>
    is also supported:
  </p>
  <pre><code>&lt;a href=&quot;http://www.ebay.com&quot; aria-label=&quot;Buy it Now - iPhone 4&quot;&gt;Buy it Now&lt;/a&gt;
</code></pre>
  <h2 id="ambiguous-link-text">Ambiguous link text</h2>
  <p>
    Link text that is used and repeated many times on the same page, each with a
    different context and URL. Again, offscreen text provides the unique context
    of the link in place.
  </p>
  <pre><code class="language-html">&lt;a href=&quot;http://www.ebay.com/camera&quot;
  &gt;Shop Now&lt;span class=&quot;”clipped”&quot;&gt; - Cameras&lt;/span&gt;&lt;/a
&gt;
</code></pre>
  <p>
    Additionally, when a screen reader displays the list of controls on the
    page, it is now possible to determine one from the other.
  </p>
  <p>
    Again, we can use
    <code>aria-label</code>
    instead of clipped text, like so:
  </p>
  <pre><code>&lt;a href=&quot;http://www.ebay.com/camera&quot; aria-label=&quot;Shop Now - Cameras&quot;&gt;Shop Now&lt;/a&gt;
</code></pre>
  <p>
    <strong>NOTE</strong>
    : The scenario presented is technically a WCAG AAA (“triple A”)
    requirement.
  </p>
  <h2 id="offscreen-headings">Offscreen headings</h2>
  <p>
    If the page design does not incorporate a visible heading for every section,
    the document heading structure can be compromised. In order to correct the
    structure, the headings can be provided offscreen.
  </p>
  <pre><code class="language-html">&lt;h2 class=&quot;”clipped”&quot;&gt;Search refinements&lt;/h2&gt;
</code></pre>
  <p>
    When do we provide offscreen headings? A good rule of thumb is that every
    <em>visually</em>
    significant module or section of the page should have a heading.
  </p>
  <h3 id="strikethrough-price">Strikethrough price</h3>
  <p>
    The HTML
    <code>&lt;s&gt;</code>
    tag is often used to visually represent a sale price, or
    “strikethrough” price. Unfortunately, the semantics of this tag are not
    announced by most screen readers. This means that a user may have difficulty
    in comprehending the current price &amp; sale price.
  </p>
  <p>
    The easiest solution is for the design and content to provide this
    additional context for all users. In the screenshot below, the word “was” is
    added before the original price.
  </p>
  <p>
    <img
      src="https://2555990442-files.gitbook.io/~/files/v0/b/gitbook-legacy-files/o/assets%2F-LXQc7GhOtVRa7Lw1InO%2F-LrPkPTv0QmLAD6o_3ZD%2F-LrPmw-2fMKxt1qOab9N%2Fstrikethrough-price-visible.png?alt=media&amp;token=1cfd418c-2567-47ba-a462-fd5d28e039a3"
      alt="Strikethrough price with visible prefix">
  </p>
  <p>
    If however, the design does not provide for this context (which is often the
    case for smaller, mobile screens), offscreen text is required.
  </p>
  <pre><code class="language-html">&lt;span&gt;$149.99&lt;/span&gt;
&lt;span&gt;
  &lt;span class=&quot;clipped&quot;&gt;Was: &lt;/span&gt;
  &lt;s&gt;$499.99&lt;/s&gt;
&lt;/span&gt;
</code></pre>
  <p>
    <img
      src="https://2555990442-files.gitbook.io/~/files/v0/b/gitbook-legacy-files/o/assets%2F-LXQc7GhOtVRa7Lw1InO%2F-LrPkPTv0QmLAD6o_3ZD%2F-LrPq2zBa46eXlVKaVBx%2Fstrikethrough-price-offscreen.png?alt=media&amp;token=e0cf071c-b8a7-4742-aa79-358c4a2ce05c"
      alt="Strikethrough price without visible prefix">
  </p>
</div>
