<div class="a11y-pattern-content">
  <h1>Skip to Main Content Accessibility</h1>
  <p>A means for keyboard users to bypass header navigation and search.</p>
  <pre><code class="language-html">&lt;!-- the skip to anchor is the first interactive element in the DOM --&gt;
&lt;a href=&quot;”#mainContent”&quot; class=&quot;clipped&quot;&gt;Skip to Main&lt;/a&gt;

&lt;!-- the anchor target wraps your main content --&gt;
&lt;div id=&quot;”mainContent”&quot; role=&quot;”main”&quot;&gt;..&lt;/div&gt;
</code></pre>
  <p>
    Please refer to the
    <a href="accessibility/patterns/skip-navigation">
      Skip-To
    </a>
    pattern for guidance regarding CSS and JavaScript.
  </p>
</div>
