<div id="field-overview">
  <component-banner-img/>

  <p>
    The field module facilitates the layout of a form control and its associated
    label, plus any other applicable text or sub-controls (e.g. error text or
    help button).
  </p>
</div>
