import { getMetadataFromUrl } from "../../data";
import __styles from "./style.module.scss";
static const { subtitle, image } = __styles;

<const/{ pageImg, metadata, properName }=getMetadataFromUrl(
  $global.url.pathname,
)>

<h1>${properName} Component</h1>
<if=metadata?.description>
  <p class=subtitle>${metadata.description}</p>
</if>

<img class=image src=pageImg aria-hidden="true" alt="">
