import { getMetadataFromUrl } from "../../data";
import styles from "./style.module.scss";

<const/{ pageImg, metadata, properName }=getMetadataFromUrl(
    $global.url.pathname,
)>

<h1>${properName} Component</h1>
<if=metadata?.description>
    <p class=styles.subtitle>
        ${metadata.description}
    </p>
</if>

<img class=styles.img src=pageImg aria-hidden="true" alt="">
