<div id="link-overview">
  <component-banner-img/>

  <p>
    A hyperlink (or 'link') points to a resource (URL) or to a specific element
    within a document (URL fragment).
  </p>

  <p>
    Links are commands followed by humans
    <em>and</em>
    machines (a spider or crawler for example).
  </p>

  <p>
    The web wouldn't be much of a web without links. Let's treat them with the
    respect they deserve by ensuring we never do anything silly to break them!
  </p>
</div>
