<div id="table-overview">
    <h1>Table Component</h1>
    
    <p>
        A table represents tabular data—that is, information presented in a two-dimensional table comprised of rows and columns of cells containing data.
    </p>

    <p>
        To allow scrolling of the table via a keyboard interface, the root element must be added to the page's tab sequence. This in turn requires the root element to have an accessible role and label.
    </p>
</div>
