<div id="chip-overview">
  <component-banner-img/>

  <p>
    A chip conveys the application of its value to a section of a form. A chip
    is typically added to the page via the chips-combobox component.
  </p>
  <p>
    A chip is transient; it can be completely removed from the page via the
    delete button.
  </p>
</div>
