@use "../mixins/private/token-mixins";

.badge {
    align-items: center;
    background-color: var(--color-background-attention);
    border: 2px solid var(--color-border-on-attention);
    border-radius: 16px;
    color: var(--color-foreground-on-attention);
    display: inline-flex;
    font-size: var(--font-size-smallest);
    height: 2.2em;
    justify-content: center;
    white-space: nowrap;
    width: 2.2em;
}

.badge:empty {
    height: 1em;
    width: 1em;
}

.badge--wide {
    padding: 0.5em;
    width: unset;
}
