<div id="textbox-overview">
    <h1>Textbox Component</h1>
    <p class="component-subtitle">A textbox allows the user to enter data.</p>
    <img class="component-banner-img" src="/src/routes/static/img/components/text-field-400.png" aria-hidden="true" />
    
    <p>
        A textbox (also known as an
        <em>input</em>
        ) allows the user to enter data.
    </p>
    <p>
        The purpose of a textbox is to collect form data. Therefore, textbox should always be used in conjunction with a form, label and submit button.
    </p>
</div>
