<div id="lightbox-dialog-overview">
    <h1>Lightbox Dialog Component</h1>
    
    <p>
        A lightbox dialog is a modal window spawned by the main web page or
        application.
    </p>
    <p>
        The lightbox-dialog is fully responsive. On large screens it will be
        aligned to the center of the screen; on small screens at the bottom.
        Small screens display an additional "handle" button, used to expand the
        dialog height.
    </p>
</div>
