<div id="toast-dialog-overview">
  <component-banner-img/>

  <p>
    A toast is a non-modal dialog that appears in response to a system-level
    action.
  </p>
  <p>
    <strong>NOTE</strong>
    : A toast is non-modal and therefore
    <strong>should not</strong>
    capture or trap keyboard focus when opened. Keyboard users require a
    way to quickly access the actions within the toast. This is achieved via the
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/accesskey">
      accesskey
    </a>
    attribute.
  </p>
</div>
