<div id="details-overview">
  <component-banner-img/>

  <p>
    A region of content that can be expanded and collapsed, forcing any adjacent
    content to be pushed down the page.
  </p>
  <p>
    Details are often used to declutter secondary content (e.g. 'Show more'),
    navigation links or form options.
  </p>
</div>
