<div id="segmented-buttons-overview">
    <h1>Segmented Buttons Component</h1>
    
    <p>
        Segmented Buttons are non-form toggle buttons used in certain cases. For detailed requirements and when to use these over tabs, please visit the${" "}
        <a href="https://ebay.gitbook.io/mindpatterns/input/segmented-buttons">
            eBay MIND Pattern for Segmented Buttons
        </a>
         .
    </p>
    <p>
        The selected toggle button is toggled by
        <span class="highlight">
            aria-current="true"
        </span>
         attribute.
    </p>
    <p>
        <strong>NOTE:</strong>
        ${" "}JavaScript is required to handle segmented buttons currently selected button.
    </p>
    
    <h2>Terminology</h2>
    <p>We use the following terminology when discussing this pattern.</p>
    <ul>
        <li>
            <strong>Segmented Buttons</strong>: The pattern as a whole, a list containing two or more segments (upto a maxium of four)
        </li>
        <li>
            <strong>Segment</strong>: A regular HTML button (type=button)
        </li>
        <li>
            <strong>Current Segment</strong>: The button in the group that is currently active
        </li>
    </ul>
</div>
